[2015-01-19 15:35] jballanc opened #3 "Installing to ~/.lein/profiles.clj causes dependency issue with rewrite-clj"
If the plugin is installed via Leiningen's local profiles (i.e. `~/.lein/profiles.clj`), there is an issue locating `rewrite-clj`:

[code]

[2015-01-19 15:51] jballanc opened #4 "Comment immediately before a method causes indent"
Running `cljfmt` against the following suggests that the method should be indented 1 space:

[code]

I'm fairly certain that top-level methods shouldn't be indented, even if following a comment. If anything, maybe the correct suggestion would be to introduce a blank-line (but even that I'm not so sure about).

[2015-01-19 15:53] jballanc commented on #4
It's worth noting that this also affects two consecutive lines of top-level comments:

[code]

[2015-01-19 16:50] weavejester commented on #3
It's likely you have another plugin or dependency in your `profiles.clj` file that pulls in an older version of rewrite-clj, and this is conflicting with cljfmt.

[2015-01-19 18:26] jballanc commented on #3
Ah, indeed! Ironically enough, it was `lein-ancient` that had the outdated version. Apologies for the noise.

[2015-01-19 18:26] #3 closed

[2015-01-19 18:28] arrdem commented on #3
FWIW `lein-ancient` dropped a new version yesterday. That may help solve your problem.

[2015-01-20 06:17] ul opened #5 "Strange exception"
I get this trying to run `lein cljfmt check` over my source tree:

[code]

Some individual files are checked successfully, thus generally plugin is working. How do I determine problematic files if not trying to run check on every file individually?

[2015-01-20 06:56] ul commented on #5
ran check over all files one by one, will post problematic files soon

[2015-01-20 07:05] ul commented on #5
here two kinds of errors: https://gist.github.com/ul/4e9dbebc89d0b5f5de1f

[2015-01-20 13:32] weavejester commented on #5
Thanks for the report, this might have something to do with mishandling of comments, which I'm currently looking into fixing.

[2015-01-20 15:22] FrankC01 opened #7 "Plans for LightTable Plugin?"
Curious if you are even thinking of integrating into existing IDE tooling?

Thanks
Frank

[2015-01-21 12:39] weavejester commented on #4
Thanks for the bug report. I'm currently working on fixing the indentation around comments.

[2015-01-22 01:27] weavejester commented on #7
Maybe eventually, but that'll probably be in another repository.

[2015-01-22 11:38] FrankC01 commented on #7
Thanks for responding.

Nice job by the way!

--

From:  James Reeves <notifications@github.com>
Reply-To:  weavejester/cljfmt
<reply+0052ef1d8c4d1d518e4299cc6967207c02055a2333ce3a5892cf0000000110d8140a9
2a169ce0345a31a@reply.github.com>
Date:  Wednesday, January 21, 2015 at 8:27 PM
To:  weavejester/cljfmt <cljfmt@noreply.github.com>
Cc:  Frank Castellucci <frank.castellucci@axiom1inc.com>
Subject

[2015-01-26 01:09] #7 closed

[2015-01-27 18:11] muhuk commented on #4
This might also be related. It formats this:

[code]

as:

[code]

[2015-01-28 20:22] weavejester commented on #4
@muhuk looks like that bug has a slightly different cause, even though it looks similar. If you have time, could you open up a separate issue for it?

[2015-01-28 20:24] #4 closed

[2015-01-28 22:15] weavejester commented on #5
The comments should be fixed in master, and I'll release 0.1.2 soon.

However, the keyword error looks like a problem in your source code, as `:register/error/username` isn't a valid Clojure keyword. Keywords and symbols can only have `/` once, so your keyword should read: `:register.error/username`.

[2015-01-29 04:53] ul commented on #5
Thank you, will check if `tower` works with dotted notation and switch to it if yes.

[2015-01-29 05:42] ul commented on #5
Still getting errors with 0.1.2, problematic files: https://gist.github.com/ul/c00795c23feb59f07b51

[2015-01-29 12:56] muhuk opened #10 "Extra indentation within function with multiple arities"
It formats this:

[code]

as:

[code]

See the `prn` inside `binding`.

[2015-01-29 12:57] muhuk commented on #4
No problem. I've created #10.

[2015-01-29 13:57] weavejester commented on #5
Thanks for the report!

It looks like the first error is caused by the symbol `v'`, which is allowed by the Clojure reader, but rewrite-clj falls over on. The Clojure language definition and the edn spec both say that a `'` is not a valid symbol character, so maybe rewrite-clj is correct in this instance.

The second issue is definitely a bug. I'm looking into it and should have a fix eventually.

[2015-01-29 18:30] ul commented on #5
Thank you about pointing out `'` gotcha, fixed it in my sources.

[2015-01-29 19:21] #10 closed

[2015-01-29 20:00] weavejester commented on #5
I've just released version 0.1.3, which fixes the comment bug and a few others. Let me know if it works out for you.

[2015-01-29 20:03] ul commented on #5
Yes! Works like a charm! Thank you for the great tool!

P. S. Is Boot support planned?

[2015-01-29 20:03] #5 closed

[2015-01-29 21:52] weavejester commented on #5
I don't plan on working on a Boot version myself, but because cljfmt is split into a standalone library and Leiningen plugin, it shouldn't be difficult to support Boot.

[2015-01-30 06:27] ul opened #11 "Problem fixing file with discard reader macro"
Please, see this result of `lein cljfmt fix` on one of my sources: https://gist.github.com/ul/a5ab595cb810445b6aa0

[2015-01-30 06:48] babysnakes opened #12 "java.io.FileNotFoundException: Could not locate rewrite_clj/node__init.class or rewrite_clj/node.clj on classpath"
I never managed to run cljfmt :(

Every time I run it I get the following exception (since 0.1.0):

[code]

I use leiningen 2.5.1 (it happened with 2.5.0 as well). My profiles.clj is as follows:

[code]

Deleting the rewrite-clj directory from `.m2/repository` didn't help.

[2015-01-30 06:58] babysnakes commented on #12
Sorry, it seems that it's a collision between dependencies with `lein-ancient`.

[2015-01-30 06:58] #12 closed

[2015-01-30 18:16] weavejester commented on #11
It looks like it's an bug with rewrite-clj. I'll raise a bug report - rewrite-clj issues are usually fixed pretty quickly.

[2015-01-31 14:20] #11 closed

[2015-02-01 09:14] expez opened #13 "formatting ns forms"
For [refactor-nrepl](https://github.com/clojure-emacs/refactor-nrepl) I made the terrible mistake of trying to write my own pretty-printing code to output the newly-cleaned ns form.  This started out as just a few lines of code which worked in 95% of cases, but has now grown to a a huge mess which badly needs to be rewritten, or preferably thrown out altogether.

Will it ever be in the scope of `c

[2015-02-01 22:24] weavejester commented on #13
I don't see why not.

cljfmt can already correct the indentation of an ns form, but doesn't currently order the namespaces or insert linebreaks when necessary. However, both those things would come under formatting in my book.

[2015-02-02 07:26] expez commented on #13
Glad to hear you consider this in-scope for `cljfmt`.

Here's what the `clean-ns` op in [clj-refactor](https://github.com/clojure-emacs/clj-refactor.el) does:

* Eliminate :use clauses
* Sort required libraries, imports and vectors of referred symbols
* Rewrite to favor prefix form, e.g. [clojure [string test]] instead of two separate libspecs
* Raise errors if any inconsistencies are found (e.g.

[2015-02-02 07:42] venantius opened #14 "cljfmt has some aggressive ideas about comments"
Running `lein cljfmt check` on [Ultra](https://github.com/venantius/ultra), I hit this pleasant little critter:

[code]

Suffice it to say that this seems...probably unintended. Thoughts?

[2015-02-02 12:19] felipebueno opened #16 "java.lang.Exception: expects 1 value. [at line 43, column 42]"
[code]

[2015-02-02 15:25] weavejester commented on #16
Thanks, but an error message telling me there's an error "at line 43, column 42" doesn't actually tell me much without a copy of the source code it's referencing.

[2015-02-02 18:28] felipebueno commented on #16
I think it's something with the file "rewrite_clj".
It's not part of my project. :smile:

[2015-02-02 20:09] weavejester commented on #16
rewrite-clj is the library that cljfmt uses to parse Clojure code into an AST, but it's reporting a problem reading one of your source files. Without knowing what's in that file, this error cannot be diagnosed.

Unfortunately the error message doesn't say *which* source file it's having an issue with. Is the project online somewhere, or can you narrow down which file is the problematic one through

[2015-02-02 22:00] pjt opened #17 "Problems with apostrophe at end of symbols"
Greetings & thanks for the library. I've encountered 2 problems with handling of symbols ending with apostrophes. The first is that `lein cljfmt check <file>` fails with the exception [`java.lang.Exception: expects 1 value.`][stack] when run on a file containing a `let` with a bound symbol ending with an apostrophe.

If I put the following in a file & run `lein cljfmt check` on it, I receive the s

[2015-02-02 22:03] pjt commented on #16
I received the same error & was able to create a reduction, in issue #17. Could be the same cause as what @felipebueno is seeing.

[2015-02-02 22:12] weavejester commented on #17
Currently rewrite-clj doesn't handle a single quote at the end of a symbol name, though strictly speaking, Clojure doesn't either. `a'` is not a valid symbol name in Clojure or edn, but the Clojure interpreter allows it all the same.

I'll bring it up on the rewrite-clj project, see what the author thinks.

[2015-02-02 22:16] weavejester commented on #14
This should be fixed in cljfmt 0.1.4 (see #11). Which version are you using?

[2015-02-02 22:18] weavejester commented on #17
I just realised that you're referencing `clojure.core/+'`, so even though the reader documentation says that symbol name isn't allowed, it looks like it is!

It would be nice if Clojure had a formal library spec, and the reader docs didn't contradict the standard library.

[2015-02-02 22:26] pjt commented on #17
That's right, I included `clojure.core/+'` in the report for just that reason, to show that the problem can't be avoided just by user code not using final apostrophes. But, FWIW, I definitely do see apostrophes used in the wild for "prime" in names, & have since Clojure 1.3, I believe.

Thanks for taking this up with rewrite-clj.

[2015-02-02 22:28] venantius commented on #14
Ah, great - I was on 0.1.2. Upgrading to 0.1.4 does fix it.

[2015-02-02 22:28] #14 closed

[2015-02-02 22:29] weavejester commented on #17
Opened issue xsc/rewrite-clj#24.

[2015-02-04 03:17] yangwansu opened #18 "cljfmt support lein version?"
my lein version is 2.2.0.

so next exception occured.

java.lang.RuntimeException: No such var: main/warn, compiling:(leiningen/cljfmt.clj:61:14)

I has resolved by version 2.5.0.

thank you.

[2015-02-04 17:42] weavejester commented on #18
Leiningen 2.2.0 is almost two years out of date. I've only tested cljfmt with modern versions of Leiningen, so you may run into problems using older versions.

[2015-02-04 17:42] #18 closed

[2015-02-04 19:46] #17 closed

[2015-02-04 20:03] weavejester commented on #16
@felipebueno, try cljfmt 0.1.5 and see if that solves your problem.

[2015-02-04 20:05] weavejester commented on #13
I'm not sure how much of that is in scope for cljfmt. Currently it just affects whitespace, and doesn't change the meaning of the source code. If cljfmt were to affect more, I think it would have to be controlled by an optional flag.

[2015-02-04 21:04] expez commented on #13
Perhaps I was unclear: I just want `cljfmt` to format the `ns` nicely, the rest `clj-refactor` can handle (like eliminating duplication and rewriting to use prefix form).  I'm hoping that if just dump the entire ns form on a single line `cljfmt` will insert newlines it in a sensible way.

[2015-02-04 22:15] weavejester commented on #13
Oh I see. Yes, that's perfectly within scope of cljfmt.

[2015-02-05 00:12] MarcoPolo opened #21 "incorrectly inserts space in valid var names that have a colon in them."
e.g.
[code]

It should not insert a space.

[2015-02-05 01:59] weavejester commented on #21
What makes you say this is a valid symbol name? The reader docs say it isn't, and there aren't any functions or macros in the Clojure core or contrib libraries to suggest otherwise.

[2015-02-05 02:31] MarcoPolo commented on #21
Looking at http://clojure.org/reader

[2015-02-05 04:38] weavejester commented on #21
I stand corrected!

I didn't notice that the end sentence explicitly allows `:` in symbol names, because the first sentence doesn't include them in the list of allowed characters.

I'll bring this up with rewrite-clj. I wish Clojure had less ambiguous reader documentation.

[2015-02-05 12:22] belucid opened #22 "Trailing comment at EOF causes a java.lang.Exception: Unexpected EOF"
When running `lein cljfmt check src/posthere/pretty_print.clj`, I get an error.

The file that causes the issue is here: https://github.com/path/posthere.io/blob/master/src/posthere/pretty_print.clj

The last line of the file ends in a comment:

[code]

Here is the error:

[code]

[2015-02-05 13:46] xsc commented on #22
This bug should have been fixed. Do you maybe have another plugin active that uses `rewrite-clj`, e.g. `lein-ancient` or `lein-plz`? Try sticking the following into your `:plugins` vector to verify that that is the problem:

[code]

[2015-02-05 14:20] weavejester commented on #22
It's your use of lein-ancient that's causing the problem:

[code]

You'll either need to remove that dependency, or force a later version of rewrite-clj by adding it to your plugins, as @xsc describes.

[2015-02-05 15:17] #21 closed

[2015-02-05 15:26] xsc commented on #22
I released [lein-ancient 0.6.2](https://github.com/xsc/lein-ancient/releases/tag/clojars-0.6.2) which uses the latest 'rewrite-clj`. Upgrading should solve this problem.

[2015-02-05 16:15] belucid commented on #22
That was the problem. New lein-ancient resolved it. Thanks @weavejester and @xsc

[2015-02-05 16:15] #22 closed

[2015-02-06 10:03] yogsototh opened #23 "Exception with comment at the top of ns"
Here is the file I launch cljfmt on:

[code]

And what I get:

[code]

[2015-02-06 16:08] #23 closed

[2015-02-06 19:29] weavejester commented on #23
Fixed in 0.1.7.

[2015-02-06 19:37] yogsototh commented on #23
Thanks!

[2015-02-08 13:47] bbatsov commented on #13
Actually we might add this directly to CIDER (I can imaged commands like `format-buffer` and `format-region` (or rather `format-form`). `clj-rewrite` deps shouldn't be problematic for most people.

[2015-02-08 14:26] expez commented on #13
:+1:

[2015-02-08 16:52] bbatsov commented on #13
And now we have cider commands for `cljfmt`. :-) See https://github.com/clojure-emacs/cider/commit/b661d1019980bb4e4452b4c62b5378f901a33e59

The initial support is pretty basic, but will cover the needs of most people.

[2015-02-08 17:18] expez commented on #13
Very cool!

[2015-02-08 17:23] tcrayford commented on #17
After running against the exact sample file here with `lein-cljfmt` 0.1.7, it produces a parse error. Also, even after this change, cljfmt incorrectly positions `'` in code that calls symbols with apostrophes at the end (e.g. `clojure.core/+'`) - it moves the apostrophe to be on the next ast element (just as detailed here).

[code]

[2015-02-08 17:39] weavejester commented on #17
The test for single quotes is passing. Have you checked to make sure you haven't got any older versions of rewrite-clj on your classpath? Perhaps included by another plugin in your profiles or project file?

[2015-02-08 18:13] tcrayford commented on #17
ah that was it - lein ancient depends on an older rewrite-clj

[2015-02-08 19:37] GregorStocks opened #24 "Fails to compile on leiningen 2.3.4"
It looks like the `warn` function used at https://github.com/weavejester/cljfmt/blob/ec938edb98c58c3702959307fde7670f73f75917/lein-cljfmt/src/leiningen/cljfmt.clj#L61 wasn't introduced until recently - leiningen 2.3.4, which was the most recent version under a year ago, doesn't have it, which makes the instructions in the README fail with a pretty opaque error message. I think switching to "info"

[2015-02-08 21:40] weavejester commented on #24
`info` doesn't do the same thing as `warn`. I could use custom versions of those functions, but I'd need a compelling use case. Is there any reason why people shouldn't be using a recent version of Leiningen?

[2015-02-09 17:45] GregorStocks commented on #24
Just every programmer's laziness, I guess. If you do want to depend on a newer leiningen I'd at least recommend making it spew a simpler error message in this case (or ideally specifying the lein dependency in the project.clj, but as far as I can tell you can't quite do that with lein plugins).

[2015-02-09 17:57] GregorStocks opened #25 "Tries to delete space before ;; before lines preceding closing braces"
Cljfmt tries to delete the space before a ;; on the line before a closing bracket, e.g.:

[code]

I'm not sure what the best way to indent the ]]) line is, but I don't think there's any reason to delete the space.

Repro: git clone https://github.com/GregorStocks/cljfmt-badness and run lein cljfmt check

[2015-02-09 18:08] weavejester commented on #25
It seems like the thing to do is to ignore whitespace before an ending bracket if a comment precedes it. So:

[code]

Then as a future feature we can add a rule that corrects the comment position:

[code]

[2015-02-09 18:20] GregorStocks commented on #25
Sounds good to me.

[2015-02-09 19:18] weavejester commented on #24
I don't want to get into a position where I'm testing this plugin against multiple versions of Leiningen, or adding custom code to check for certain versions of Leiningen. But I can add a notice to the README informing people that this has only been tested on Leiningen 2.5, and that YMMV if you are still using an older version.

[2015-02-09 20:07] GregorStocks commented on #24
Good enough!

[2015-02-09 21:04] #24 closed

[2015-02-13 19:32] #25 closed

[2015-02-15 12:57] bbatsov opened #26 "Update rewrite-clj dep"
The latest version drops two problematic deps (fast-zip and potemkin) which makes it easier to embed rewrite-clj and cljfmt into dev tools (like CIDER), without introducing dep conflicts. See https://github.com/xsc/rewrite-clj/issues/26 for details.

[2015-02-15 15:16] #26 closed

[2015-02-15 15:17] bbatsov commented on #26
Thanks!

[2015-02-15 15:18] bbatsov commented on #26
Let me know when you cut a new release.

[2015-02-15 17:24] weavejester commented on #26
Just released 0.1.9.

[2015-02-15 21:42] bbatsov opened #28 "Regression in 0.1.8"
The following code:

[code]

is now indented as:

[code]

I'm using `reformat-string` without custom config.

Used to indented properly in 0.1.7.

[2015-02-15 22:06] weavejester commented on #28
Thanks for the report. Looks like 76cdf10 broke it. I'll work on a fix.

[2015-02-16 16:55] #28 closed

[2015-02-16 17:48] weavejester commented on #16
Closing issue, as it's fixed as far as I'm aware. If it turns out it isn't, this can be reopened.

[2015-02-16 17:48] #16 closed

[2015-02-26 22:30] ztellman opened #29 "ignoring defaults"
Hey, this is a really great tool.  I use a somewhat non-standard indentation scheme which is basically

[code]

But unfortunately, in order to override the defaults I need to explicitly specify symbols for everything.  If there were some way to disable the defaults, that would be very helpful.

[2015-02-26 22:36] weavejester commented on #29
Perhaps we could take a page from Leiningen's playbook and support metadata hints, e.g.

[code]

I have a standalone [meta-merge library](https://github.com/weavejester/meta-merge) that would work. It would introduce a new dependency, but meta-merge isn't dependant on anything else and is unlikely to change, and if it does become a problem we can inline it.

[2015-02-26 22:41] ztellman commented on #29
Sounds good to me.

[2015-02-26 22:42] weavejester commented on #29
Is there any other metadata we'd need to support other than `^:replace`? If not, we could skip the meta-merge library and make it a single check.

[2015-02-26 22:45] ztellman commented on #29
I don't think the converse `^:displace` makes much sense, so maybe not?

[2015-02-27 05:24] lvh opened #30 "fast_zip.core.ZipperLocation cannot be cast to clojure.lang.IFn"
Just tried to install cljfmt, couldn't get it to work. No clue what's going on here, so all I have is the traceback:

[code]

`fix` doesn't work either:

[code]

this is with a current `lein`:

[code]

[2015-02-27 12:59] weavejester commented on #30
You have an old dependency of rewrite-clj on your classpath. lein-ancient is often the culprit, if you happen to have that as a plugin.

[2015-02-27 20:35] lvh commented on #30
Awesome! That was indeed the problem :)

[2015-02-27 21:04] #30 closed

[2015-03-02 17:24] kstephens opened #31 ""Invalid token :mm/dd/yyyy""
This might be a clojure.tools bug, however:

lein cljfmt fails on keyword ":mm/dd/yyyy", which parses in clojure.

Example:

[code]

[code]

[2015-03-02 18:07] cichli commented on #31
I think that's not a valid keyword (even though the current implementation of Clojure allows it). This is a case of `tools.reader` agreeing with the documentation and `LispReader.java` being more lax than the documentation.

See http://clojure.org/reader - specifically the notes on symbol and keyword literals: `... '/' has special meaning, it can be used once in the middle of a symbol ...` and `Ke

[2015-03-02 18:15] weavejester commented on #31
Yep, that isn't a valid keyword. Clojure's default reader doesn't have many checks, particularly when it comes to symbols and keywords.

[2015-03-02 19:05] kstephens commented on #31
Thank you for the clarification.  I'm fairly new to Clojure -- it's not Scheme!  :)

[2015-03-02 19:05] #31 closed

[2015-03-05 04:04] drusellers opened #32 "Error w/ Installation"
When I run `lein` to see all commands I get:

[code]
I'm sure I'm doing something wrong.

Lein 2.5
[lein-cljfmt "0.1.10"]

[2015-03-05 06:47] expez commented on #32
If you're using it, try bumping lein ancient to the latest version.  Both libs depend on `rewrite-clj`.

[2015-03-05 13:23] weavejester commented on #32
You're running into a dependency conflict. See issue #12.

[2015-03-05 15:25] drusellers commented on #32
That did it! Thanks.

[2015-03-05 15:48] #32 closed

[2015-03-05 16:20] gofeddy opened #33 "java.lang.StackOverflowError when running "lein cljfmt check""
I ran a `lein cljfmt check` on one of my projects and encountered as stack overflow error.

I'm using v0.1.10 of cljfmt with v2.5.1 of leiningen. Here's the stack trace:
[code]

From what I see, it's recursively trying to call this line: https://github.com/weavejester/cljfmt/blob/master/lein-cljfmt/src/leiningen/cljfmt.clj#L54 and for some reason it's just getting too deep and erroring out.

Note:

[2015-03-05 16:34] weavejester commented on #33
It looks as if you don't have any valid source or test pages in your project. So this code:

[code]

Is returning an empty seq. I can add in a better error message, but cljfmt is still going to throw an error message if it can't find any source or test paths.

What does your `project.clj` file look like?

[2015-03-05 16:53] gofeddy commented on #33
I think I figured out the problem. My project has multiple modules inside of it. I had my `:source-paths` and `:test-paths` listed under the nested `{:modules {:inherited ..}}` section of my parent `project.clj` file.

So when I ran `lein cljfmt check` from these individual modules(each having their own `project.clj` with `:source-paths` and `:test-paths`), it worked as expected.

I think this iss

[2015-03-05 18:09] weavejester commented on #33
I'll keep the issue open until I put in a better error message. Missing source paths shouldn't result in a stack overflow :)

[2015-03-13 17:04] xpe opened #34 "Some trailing whitespace remains after `lein cljfmt fix`"
For example, I'm working through `lein cljfmt fix` as of this commit of liberator: https://github.com/clojure-liberator/liberator/commit/9b210244d78c6a4fd35d83823016f517c0d52e37

Here is some example output:

![example-liberator](https://cloud.githubusercontent.com/assets/4576329/6643288/8b3b7326-c981-11e4-901c-c37b305cf731.png)

[2015-03-24 12:27] timvisher opened #36 "Support for associative syntax allignment"
Are there plans to support associative syntax alignment?

[code]

[2015-03-24 13:43] weavejester commented on #36
There are. I was also going to add in a configurable "tolerance", so it can be set to align only if the spacing won't exceed a certain value. e.g.

[code]

[2015-03-24 18:48] timvisher commented on #36
FWIW, my team would advocate for doing the following:

[code]
→
[code]

Which could be another configuration toggle.

[2015-03-30 20:29] xpe opened #37 "Does not flag extra linespaces"
Currently cljfmt doesn't flag extra newlines; e.g.

[code]

[2015-04-06 14:04] xpe commented on #13
@expez Is your issue still open? Or has it been resolved?

[2015-04-06 14:15] xpe commented on #37
I'm digging into this a little bit. I'm not sure yet if the easiest/best fix belongs in `cljfmt/core` or https://github.com/xsc/rewrite-clj. If anyone has ideas, I'm all ears.

[2015-04-06 14:17] expez commented on #13
@xpe this issue is still open

I've written some refactorings for moving files and directories of clj files for `clj-refactor`.  Right now I parse and update the ns form of all affected namespaces but then I have to use emacs and `clojure-mode` to visit the files afterwards to get right indentation of the ns form.

Needless to say I'd be quite happy to skip that last step.  Not only because it mak

[2015-04-06 14:47] weavejester commented on #37
This is a feature that needs to be added to cljfmt. It's not a bug fix. This functionality does not exist in cljfmt yet.

[2015-04-06 19:50] xpe commented on #37
@weavejester How does this look? https://github.com/orphid/cljfmt/commit/f50d864bc24f8b0ab24898234ba1254e4b9a6f04

[2015-04-06 23:07] weavejester commented on #37
@xpe, try to follow the same design as the rest of the source code. Don't operate directly on the string; instead, operate on the parsed form generated by rewrite-clj.

If you operate directly on the raw source text, your code has no idea of the context. Your code will remove consecutive newlines in literal strings, which clearly isn't what we want.

There's also no need to docstring private funct

[2015-04-07 14:50] xpe commented on #37
My goal was to change `(\n){3,}` to `\n\n`, nothing more, nothing less, across the entire file -- in forms, outside of forms, between forms. (I was seeing extra newlines sneak into Clojure files unnecessarily.) See what I mean? If you see a better way to achieve a similar or better goal, I'm all ears.

If you are open to a goal along these lines, I'll work a PR to your desired style. (Still, I don

[2015-04-07 15:27] weavejester commented on #37
cljfmt is a tool for changing the formatting of a file; it should not change how the code functions. Simply removing consecutive newlines without taking the context into consideration could potentially break a person's code. For instance, if you had code like:

[code]

Then your code would replace the consecutive newlines within the string. Obviously this is something we want to avoid.

Instead, w

[2015-04-07 16:04] xpe commented on #37
I see now (but didn't before) that changing "\n\n\n" to "\n\n" **in** a string could break code. Good point. My mistake. I'll take a swing at using rewrite-clj as you suggest.

Now that I've been exposed / indoctrinated into the code, I can see why you say this. However, this is only apparent once a person has thought through and perhaps tried out the code. I'd suggest something like a comment or

[2015-04-07 16:23] weavejester commented on #37
I might add a comment to further explain the conventions in the code. cljfmt also relies a lot on a good understanding of rewrite-clj and zippers, which perhaps makes it harder to understand.

You probably want something like:

[code]

Although you might need to remove the indentation as well, so perhaps `(-> zloc skip-whitespace z/linebreak?)`.

[2015-04-07 16:34] xpe commented on #37
Thanks for the example. It looks like it checks for two consecutive newlines. Right? My hope was to only flag on three.

[2015-04-07 16:46] weavejester commented on #37
Right, yes. I was thinking in terms of blank lines, rather than newlines. You'd just need to add an additional part to the `and` form to make it three.

[2015-04-10 15:07] timothypratley opened #38 "does not work from ~/.lein/profiles.clj"
when using ~/.lein/profiles.clj:

$ lein cljfmt fix foo.edn

`clojure.lang.Compiler$CompilerException: java.io.FileNotFoundException: Could not locate rewrite_clj/node__init.class or rewrite_clj/node.clj on classpath: , compiling:(cljfmt/core.clj:1:1)`

workaround:
add to {:user {:plugins
                    [rewrite-clj "0.4.12"]

[2015-04-10 15:20] weavejester commented on #38
See issue #12. It's because you have another plugin that uses an older version of rewrite-clj, and it's overriding the later version in cljfmt.

[2015-04-10 15:20] #38 closed

[2015-04-10 15:37] timothypratley commented on #38
gotcha thanks yes, upgrading ancient to 0.6.6 resolved the issue also

[2015-05-14 06:28] ghost opened #39 "Spaces after argument vector and between elements in a vector not removed"
Hi,

Given

[code]

When

[code]

Then

[code]

Is there a setting for this ?

[2015-05-14 14:06] weavejester commented on #39
This functionality currently doesn't exist in cljfmt, and it would have to be an optional feature if it did. Extra whitespace between forms is not unusual in Clojure code, as it's often used for lining up expressions, e.g.

[code]

[2015-05-18 16:39] expez commented on #13
@weavejester is this likely to get solved?  I realize this isn't the most sexy problem to spend  limited time on :/

[2015-05-18 16:46] weavejester commented on #13
When someone submits a pull request for it.

It's not something I personally need, and isn't a bug but a new feature, so it's fairly far down my list of priorities.

[2015-06-18 17:18] pcarlisle commented on #36
If this is going to be an option I'd love to have a setting where it removes any such alignment.

[2015-06-19 13:47] AsaAyers opened #40 "Exception in thread "main" java.lang.StackOverflowError"
I'm new to Clojure. As far as I can tell this is the minimum `project.clj`:

[code]

When I run `lein cljfmt fix` I get a StackOverflowError. If I specify the files to fix it works.

I installed cljfmt by adding it to my `~/.lein/profiles.clj `

[code]

[2015-06-19 13:51] weavejester commented on #40
Are you running into issue #33?

[2015-06-19 16:09] AsaAyers commented on #40
You're correct. This is a duplicate issue.

Since I'm starting to learn Clojure I'm messing around and haven't yet learned the "proper" way to setup a project. So I just have a few files in a folder that I'm experimenting with. At this point I have no idea why `:source-paths` matters.

[2015-06-19 16:09] #40 closed

[2015-06-19 16:10] AsaAyers commented on #33
Why can't it just default to CWD?

[2015-06-19 16:16] AsaAyers commented on #33
When I have trouble I typically go to the project's configuration to see how it's done. Neither `project.clj` in this repository seem to have `:source-paths`, so how exactly are they supposed to be configured? Do you not run your own project against your own code?

[2015-06-19 16:17] weavejester commented on #33
If the project configuration is broken, then the best option is to raise an error, not try to work around it.

[2015-06-19 16:19] weavejester commented on #33
Leiningen has a default `:source-paths` of `["src"]`.

[2015-06-19 16:21] weavejester commented on #40
`:source-paths` define the paths of your source code. It defaults to `["src"]`. You may be running into #33 if you've redefined this value, or if you do not have a `src` directory.

[2015-06-19 16:27] AsaAyers commented on #33
Thanks. I have moved my code into `src`.

I'm a few chapters into [Clojure Programming](http://shop.oreilly.com/product/0636920013754.do) and needed to jump into building something, anything, so I just started a folder and began solving problems on https://projecteuler.net/. Thanks for the help :)

[2015-06-26 16:45] sgrove opened #41 "EDN file for project-wide configuration?"
I'd love to be able to add a .cljfmt.edn file to my projects, specifying various forms of let alignment (e.g. #36 ) or strict whitespace removal (e.g. #39), and have all of the contributors format their PR's automatically so everything lines up nicely with the project's style guidelines (also, upon style changes, there's a single place to update and the entire codebase can be reformatted).

Actual

[2015-06-26 16:52] weavejester commented on #41
I'm not sure I understand the purpose of this suggestion. If you're using lein-cljfmt, then you can already configure it via the project file. If you're using cljfmt straight, then you can configure it via an argument.

[2015-06-26 17:09] sgrove commented on #41
Yes, that's fair, I slightly misunderstood the project.clj formatting option. Everything else is just more features for controlling the formatting. Sorry about that - closing this.

[2015-06-26 17:09] #41 closed

[2015-06-28 10:27] Malabarba opened #42 "Wrong indentation on nested forms within letfn"
Note how cljfmt indents [this `str` call](https://github.com/Malabarba/cider-nrepl/blob/master/src/cider/nrepl/middleware/debug.clj#L18). I believe the second line should be indented by a couple more spaces, to align with the arguments above.

[2015-06-28 10:29] weavejester commented on #42
I believe this is a problem with `letfn`, rather than `str`. The indentation of the function blocks isn't limited to the first vector, as it should be.

[2015-07-02 16:53] #42 closed

[2015-07-02 16:56] weavejester commented on #34
This may be fixed in 0.1.11, or at least, I can't reproduce it. Can you confirm @xpe?

[2015-07-02 22:52] #33 closed

[2015-07-03 15:43] #37 closed

[2015-07-15 18:09] Malabarba opened #44 "cond-> should be indented like cond"
I believe `cond->` and `cond->>` should be indented like the following,

    (cond->> [:a :b :c]
      (pred?) (remove #{:a})
      true    (vec))

but cljfmt indents them like this:

    (cond->> [:a :b :c]
             (pred?) (remove #{:a})
             true    (vec))

For instance, [see here](https://github.com/clojure-emacs/cider-nrepl/pull/236/files#diff-0d65c570bef3dbf4640690a252e06f28R224)

[2015-07-15 20:23] weavejester commented on #44
cljfmt does do this for `cond->`, but `cond->>` is missing from the indentation rules.

[2015-07-15 20:23] #44 closed

[2015-07-15 23:50] weavejester commented on #44
Fixed in 0.2.1.

[2015-07-16 00:13] Malabarba commented on #44
Thanks @weavejester

[2015-07-19 16:39] duelinmarkers opened #45 "Threaded cond-> indents strangely"
`cond->` and `cond->>` fit neatly into bigger `->` forms, but the default indenting rules don't seem to work for that usage when conditions and threaded forms are each on their own line.

So cljfmt likes this:
[code]
But wants to change this:
[code]
like so:
[code]
It wants the first arg indented 1 space, the rest indented 2.

(Incidentally my out of date version of cider doesn't like either of th

[2015-07-19 17:00] weavejester commented on #45
cljfmt currently doesn't take the outer form into consideration when performing indentation. Perhaps a rule can be added to look for an outer `->` form, and if so, shift the indentation around.

[2015-07-19 17:07] duelinmarkers commented on #45
I don't think looking at the outer form should be necessary, I just included it to motivate my not wanting to treat the first argument as special. It seems to me a better rule for `cond->` and `cond->>` would be `[[:inner 0]]`, so all of the following would be considered correct:
[code]

[2015-07-23 15:03] weavejester commented on #45
What about this form:

[code]

There are also other forms that are affected by an outer `->`. For example:

[code]

I think it's worth putting in a specific rule for `->` like forms.

[2015-07-28 02:36] #29 closed

[2015-07-28 02:56] weavejester commented on #29
@ztellman this functionality has been added to 0.3.0

[2015-07-28 03:00] weavejester commented on #34
Closing for now.

[2015-07-28 03:00] #34 closed

[2015-07-28 03:07] weavejester commented on #39
See also #36.

[2015-08-01 14:49] expez opened #46 "Indentation of proxy"
The indentation of `proxy` as part of a let-binding, by `clojure-mode`:

[code]

cljfmt changes it to:

[code]

I prefer the indentation by `clojure-mode` because the first and second arg have different semantics, but I care more about both tools producing the same output.

//cc @bbatsov

[2015-09-06 04:42] Immortalin opened #47 "Usage with cider tutorial"
Hi, can you create a tutorial for auto-formatting on save for cider?

[2015-09-06 05:12] weavejester commented on #47
I think that's probably something for Cider's documentation.

[2015-09-06 05:21] Immortalin commented on #47
Cider is listed under editor support though

[2015-09-06 05:25] weavejester commented on #47
That's because Cider uses cljfmt. It's not because cljfmt *itself* supports Cider. There's no elisp in the cljfmt repository.

[2015-09-06 05:26] Immortalin commented on #47
interesting. How do you call cljfmt from cider then?

[2015-09-06 05:32] weavejester commented on #47
It doesn't appear to be documented in the Cider README yet, but `cider-format-region`, `cider-format-defun` and `cider-format-buffer` are the elisp functions you're looking for.

[2015-09-06 05:34] Immortalin commented on #47
Thank you!

[2015-09-06 05:34] #47 closed

[2015-09-10 08:29] weavejester commented on #46
I suspect the indentation of clojure-mode in this particular case is unintentional. All other Clojure forms are indented either a fixed 2 spaces, or indented to align with the previous form. I'd say that the way cljfmt current formats it is the correct way.

[2015-09-10 13:50] expez commented on #46
@bbatsov are you OK with closing the issue in this repo in favor of an issue over at clojure-mode?

[2015-09-10 14:47] bbatsov commented on #46
To be honest - I'm not sure. I'd write this as:

[code]

The other two options look pretty bad to me.

[2015-09-10 15:28] weavejester commented on #46
I'd write it like that as well in this particular case, but sometimes the first two arguments are too long to fit on one line, or else the user has chosen to add a line break for some other reason.

[2015-09-10 15:42] bbatsov commented on #46
I wonder if there are other similar forms we can use as a baseline. Nothing comes to mind right now.

[2015-09-10 16:25] weavejester commented on #46
The problem comes with every form that has "block" indentation of some kind. For example, how would one indent:

[code]

cljfmt takes the view that in absence of any specific rule, arguments should be indented according to normal Clojure indentation rules. So if there were nothing special about `defrecord`, we would indent it:

[code]

But because the latter two lines expect a "block" indentation,

[2015-09-10 17:02] timvisher opened #48 "Indentation of midje forms?"
I think it's accepted to format midje forms like so:

[code]

cljfmt seems to want to indent it like this

[code]

Where's the discrepancy lie here?

[2015-09-10 17:05] weavejester commented on #48
cljfmt has no special rules for Midje, but it's easy to add custom indentation rules. In this case, you can just add to your cljfmt options:

[code]

There's an explanation in the README.

[2015-09-10 18:02] timvisher commented on #48
:+1:

[2015-09-10 18:02] #48 closed

[2015-11-29 13:06] bbatsov opened #49 "Support var indentation metadata"
We've come up with some indentation spec for CIDER's dynamic indentation functionality, we consider fairly flexible and not CIDER-specific at all. The details are [here](https://github.com/clojure-emacs/cider/blob/master/doc/indent_spec.md#indent-specification).

It'd be nice if `cljfmt` (and other tools in general) respected indentation settings provided via such metadata. //cc @malabarba

[2015-11-30 23:19] Malabarba commented on #49
Indeed. Would be nice if this could be supported by cljfmt too.
If you decide to try, I'd be happy to help as well.

[2015-11-30 23:40] weavejester commented on #49
This seems like a good idea. I think the indentation spec could potentially replace cljfmt's own, less well thought out syntax. I don't think there's anything I'm doing that isn't covered by the linked spec.

[2016-01-30 16:43] spinningarrow opened #50 "Could not find project.clj"
I'm trying to format a single file by running `lein cljfmt check <filename>` but it keeps telling me that it `Couldn't find project.clj, which is needed for cljfmt`. Why does it need a `project.clj` even for a single file?

[2016-01-30 17:30] weavejester commented on #50
That's the default for Leiningen tasks, I believe. I'd accept a patch to allow cljfmt to check and fix files without a project file, so long as the files were specified explicitly.

[2016-02-09 17:45] shmish111 opened #51 "<U+2028> causes exception"
Somehow <U+2028> had got into my code (using mac notes I think) this caused cljfmt to throw
`Exception in thread "main" java.lang.AssertionError: Assert failed: (re-matches #"(\s|,)+" s)` and it took me ages to work out why. I don't think it should fail like this. Plus it would be nice if it told you which file failed.

[2016-02-09 19:49] weavejester commented on #51
This assertion is from the underlying [rewrite-clj](https://github.com/xsc/rewrite-clj) library, so the best place to raise the issue would be there. Out of interest, did Clojure compile and run your code okay?

[2016-02-09 19:51] shmish111 commented on #51
Yes it did, thanks I'll speak to them and post the issue on a comment for
history
On 9 Feb 2016 19:50, "James Reeves" <notifications@github.com> wrote:

[2016-02-12 03:41] snoe opened #52 "Clojurescript support"
Hi great tool.

With the very fast startup time of node, a clojurescript (i.e. cljc/reader conditional) port would allow some interesting scripting possibilities with cljfmt. Personally, I'd love to use cljfmt for [my neovim plugin](https://github.com/snoe/clj-refactor.nvim).

I wouldn't mind working on a PR to attempt to add cljs support if you're interested in supporting it.

Cheers.

[2016-02-12 03:47] weavejester commented on #52
I'd welcome ClojureScript support. However, cljfmt relies on rewrite-clj, which is currently only available for Clojure. You'd need to port that, first.

[2016-02-12 04:01] snoe commented on #52
Yup, there's an excellent port already https://github.com/rundis/rewrite-cljs

[2016-02-12 04:15] weavejester commented on #52
Oh wow, that had completely passed me by. In which case there are no obstacles to ClojureScript support. I think updating the Clojure dependency to 1.7.0 and using `.cljc` would likely be the most idiomatic approach.

[2016-02-13 18:10] #52 closed

[2016-02-24 03:43] arrdem opened #55 "Reformats files twice"
`valid-format?` calls `reformat-string` and checks `=` to see if anything changed, but when computing patches or reformatting files `reformat-string` is called again either to generate a diff or just for output. This means that large files get slurped and reformatted not once but twice for no particular reason.

[2016-02-24 08:44] arrdem opened #57 "Performance concerns"
The clojure core project has 33k LoC in Clojure, of which 25k occurs outside of clojure/core.clj. As hinted in #56, formatting all this takes maybe 6 minutes on my fairly beefy machine, a disproportionate amount of which is spent on clojure/core.clj.

In my testing, running everything but clojure/core.clj (25k lines total) took a mere 1:05s.
Running clojure/core.clj (7.5k lines) alone took 5:51s.

[2016-02-24 15:47] weavejester commented on #57
When I was writing cljfmt, I quickly found that writing a Clojure code formatter, even with a tool like rewrite-clj, was a lot more complex than I had anticipated. For this reason I prioritised clearer, simpler code over performance, based on the idea that I could always come back later. For most Clojure programs, cljfmt turned out to be fast enough, so I haven't revisited performance.

The `prior

[2016-02-24 20:47] #55 closed

[2016-02-24 20:48] #50 closed

[2016-02-25 01:26] escherize commented on #5
In case anyone else lands here from googling boot cljfmt, here's a link where the author does what @weavejester just described:

https://gist.github.com/bartojs/851e5103b517549236dd

[2016-03-04 02:27] venantius opened #59 "Support for reader conditionals"
Currently, cljfmt formats reader conditionals in the same way code is otherwise formatted. Unfortunately, this leads to code that looks like the following:
[code]
This is in contrast to what we would expect, based on the examples for good code given in http://clojure.org/guides/reader_conditionals, which would suggest code formatting like the following:
[code]

Note the two issues here:
 * a space

[2016-03-04 03:36] weavejester commented on #57
Should be fixed in 0.4.1

[2016-03-04 03:36] #57 closed

[2016-03-04 05:10] arrdem commented on #57
Given that cljfmt is still about 20x slower than Java format linters I think there's still plenty to be done, but the obvious pain point has certainly been taken care of. I'll open new tickets/PRs if/when I have time to work on this more.

[2016-03-04 05:11] weavejester commented on #57
Sure. I mostly just didn't want an open-ended performance issue, as that would never be resolved :)

[2016-03-04 15:28] arrdem opened #60 "Support for cond"
It's my personal style to format `cond` forms as such:

[code]

Even if it isn't on by default, it'd be awesome if cljfmt had support for this convention.

[2016-03-04 15:35] arrdem opened #61 "Support for defn"
By convention, defns with a single arity are indented approximately as such:

[code]

- If there is no docstring or meta and the args vector is "short" then the name and the args should be on the same line as the `defn`.
- If there is only one body form and it is "short", then it should be on the same line as the args vector.
- If there is only one arity, then `(defn foo ([args] & forms))` should

[2016-03-04 17:25] weavejester commented on #61
This might be better split into two issues.

The first, removing parentheses around functions with one arity, seems pretty specific to functions alone. We could add that in as its own rule, and it would likely only be a few lines of code.

The second issue, fixing newlines, seems a more general issue, like indentation. I've been thinking about specifying rules to denote valid points for newlines.

[2016-03-07 13:21] eliben opened #63 "formatting custom macro uses is off"
_Thanks for cljfmt - coming from other languages with such tools, this feels essential_

When I define a new macro:

[code]

And then use it, it makes sense for me to keep some of the arguments on the same line with the macro invocation:

[code]

However, cljfmt will reformat this as follows:

[code]

Because it wants to line up all the "call" arguments together, similarly to what's done for funct

[2016-03-07 13:38] expez commented on #63
This probably won't be general enough until cljfmt adds support for an [indentation spec](https://github.com/clojure-emacs/cider/blob/master/doc/Indent-Spec.md).

This would however force cljfmt into doing multiple passes (one to collect metadata to indent properly and then one to actually apply the rules).

[2016-03-07 13:43] weavejester commented on #63
You can customise the indentation via your project file, which is documented in the README.

Using var metadata to define indentation is covered by issue #49.

[2016-03-07 14:19] eliben commented on #63
Thanks for the quick response

[2016-03-07 14:19] #63 closed

[2016-03-08 07:26] danielcompton opened #64 "Remove trailing whitespace"
From https://github.com/jaunt-lang/jaunt/commit/b48220d6c096757ef37efce68935dc7aa15e7beb, running `lein cljfmt fix src/clj/clojure/set.clj` doesn't strip the trailing whitespace in `clojure.set`. Using `[lein-cljfmt "0.4.1"]`. Related to #34.

[2016-03-10 22:35] arrdem commented on #64
https://github.com/jaunt-lang/jaunt/blob/linter/cljfmt/src/clj/clojure/set.clj

Looks fine to me...

[2016-03-10 23:14] danielcompton commented on #64
See https://github.com/jaunt-lang/jaunt/blob/linter/cljfmt/src/clj/clojure/set.clj#L55 for an example.

[2016-03-10 23:24] weavejester commented on #64
Was the whitespace already there? cljfmt doesn't yet have a rule for removing whitespace at the end of lines, but shouldn't add any new trailing whitespace.

[2016-03-10 23:28] arrdem commented on #64
This is whitespace which was present in the original and was not removed by cljfmt.

[2016-03-10 23:30] weavejester commented on #64
That makes sense, then. This isn't a bug so much as a missing feature.

[2016-03-11 04:08] j0ni opened #65 "Exception running cljfmt on a largish project"
I'm seeing the following exception when I run `cljfmt`:

[code]

This also happens when I don't use `drip` btw - I was looking for a way to more quickly run `cljfmt` one file at a time, hence `drip`.

[2016-03-11 04:47] weavejester commented on #65
This looks like a dependency issue. rewrite-clj used to use the fast-zip library, but then reverted to using the standard clojure.zip library. Since your stacktrace references fast-zip, my guess is that you have a dependency conflict around rewrite-clj.

Incidentally, if you're looking for a fast way to run cljfmt, have you looked at [node-cljfmt](https://github.com/snoe/node-cljfmt)?

[2016-03-11 17:21] j0ni commented on #65
Ah yes @weavejester that seems quite likely, and rings a definite bell from last time I tried to use cljfmt.

I hadn't looked at node-cljfmt, but now I did and it worked great! There were a couple of errors (I'll see about reporting them to the node-cljfmt project) in this fairly large codebase I was working through, but on the whole it was speedy and effective. Thanks for the pointer.

[2016-03-11 17:21] #65 closed

[2016-03-11 17:30] weavejester commented on #65
node-cljfmt is just a thin wrapper around cljfmt, so if there are any issues with the formatting itself, that should be reported here.

[2016-03-11 18:20] j0ni opened #66 "Regular expression reformatting mistakes"
cljfmt (actually node-cljfmt, if that's important) made this change:

[code]

which is not equivalent. Similarly this:

[code]

is likely a breaking change. Is this expected?

It also made this change:

[code]

which at least seems less destructive.

[2016-03-11 19:31] weavejester commented on #66
Thanks for the report. This turns out to be a bug in [rewrite-cljs](https://github.com/rundis/rewrite-cljs). I've opened up new issue at https://github.com/rundis/rewrite-cljs/issues/7.

The Clojure version of cljfmt doesn't suffer from this issue.

[2016-03-18 23:21] arrdem opened #67 "Discards lexical ,"
It should be possible to use leading `,` to force indentation. cljfmt currently [strips leading ,](https://circleci.com/gh/jaunt-lang/jaunt/426) leading to unexpected changes in indentation.

[2016-03-20 15:20] fommil opened #68 "Align for let forms"
it would be really great if `let` forms could be automatically aligned by value, e.g.

[code]

instead of (note `baz` does not align with `bar`)

[code]

I'd also be happy with

[code]

(i.e. left align the variable)

[2016-03-20 15:32] arrdem commented on #68
I've never seen right variable alignment in a let form. The double left alignment is a duplicate of https://github.com/weavejester/cljfmt/issues/36.

[2016-03-20 17:04] #68 closed

[2016-03-28 22:52] arrdem commented on #67
This is due to the treatment of `,` as simple whitespace by rewrite-clj, currently being addressed over there in xsc/rewrite-clj#44

[2016-03-29 00:30] #64 closed

[2016-03-29 00:49] #66 closed

[2016-04-03 16:39] arrdem commented on #67
`[rewrite-clj "0.5.0"]` brings `:comma` nodes which makes this more tractable. https://github.com/xsc/rewrite-clj/releases/tag/clojars-0.5.0

[2016-04-19 11:42] rjohnsondev commented on #59
Adding to this, the current behaviour can produce broken code when using the splicing reader conditional:

[code]

becomes

[code]

which will result in the exception: `CompilerException java.lang.RuntimeException: read-cond body must be a list` due to the extra space before the `@` in the conditional.

[2016-04-20 19:00] weavejester commented on #59
This issue relies on reader conditional support being added to [rewrite-clj](https://github.com/xsc/rewrite-clj) and [rewrite-cljs](https://github.com/rundis/rewrite-cljs).

[2016-04-25 15:18] axel-angel opened #72 "Closing parenthesis on new line and comment"
The following code has is weirdly indented after cljfmt:

[code]

becomes:

[code]

(why the comment isn't even indented to the code?)
but I would say the logical indentation should be:

[code]

[2016-04-25 15:28] weavejester commented on #72
Oh, interesting. Thanks for the report. I'll look into it.

[2016-04-25 18:10] arrdem commented on #72
I can confirm finding instances of this in the cljfmt'd Jaunt codebase after the fact and not thinking of it / reporting it. Problems of having a large codebase and automatical tools.

[2016-04-25 21:03] #72 closed

[2016-04-25 21:09] weavejester commented on #72
Should be fixed in 0.5.3.

[2016-04-25 21:11] axel-angel commented on #72
Glad to hear, thanks.

[2016-05-16 15:48] dpassen opened #73 "Odd indentation within letfn forms."
Presently, `[cljfmt "0.5.3"]` takes the following form (which I consider to be indented correctly):

[code]

and suggests/fixes the indentation to:

[code]

[2016-05-22 18:17] weavejester commented on #73
This does look like a bug! I haven't had time to look into it yet, but it's on my radar.

[2016-05-27 08:17] ivarref commented on #36
+1

[2016-05-28 07:04] kevinludwig opened #74 "parameterize indent-size"
the indent-size is hard-coded to 2:
https://github.com/weavejester/cljfmt/blob/master/cljfmt/src/cljfmt/core.cljc#L163

It would be nice if the opts allowed this to be configurable.

[2016-06-01 08:36] edvorg opened #75 "extra space when indenting multi arity function"
Hi, do you have any thoughts on this? Maybe I'm doing something wrong..

Actual result
[code]

Expected
[code]

[2016-06-01 08:38] edvorg commented on #75
my cljfmt config
[code]

[2016-06-01 14:47] weavejester commented on #75
Well, you've changed `defn` from `[[:inner 0]]` to `[[:block 0]]`. You're telling cljfmt to always indent by two spaces, so that's what it's doing.

[2016-06-02 14:34] edvorg commented on #75
got it. sorry, my bad

[2016-06-02 14:34] #75 closed

[2016-06-19 23:53] jmorris0x0 commented on #36
I've started work on this and have made some good progress.

[2016-06-26 13:43] gdphllps commented on #36
+1

[2016-07-06 22:17] royaldark opened #76 "Multi-line regex bodies removed"
A multi-line regex with embedded comments loses its body when cljfmt runs. See the following contrived example:

[code]
`lein cljfmt fix` outputs:

[code]

Lein 2.6.1
cljfmt 0.5.3

[2016-07-06 23:23] weavejester commented on #76
Thanks for the report. This is caused by a bug in rewrite-clj, and I've opened an issue for it.

[2016-07-27 19:45] arrdem opened #78 "Support disabling formatting on forms"
Most formatting tools provide a way to disable formatting on some expression. For instance various Java and Python tools allow comments at end of line such as `# nofmt` or `# lint: ignore` in which case no changes will be made to those lines.

That particular implementation doesn't map well to Clojure, since it's a form oriented language but one could certainly imagine situations where a user real

[2016-07-27 19:57] arrdem opened #79 "Support for collapsing multiple metadata expressions"
Forms such as `^:foo ^:bar ^:baz qux` are legitimate, as are forms which mix multiple reader metadata ala `^{:foo 3 :bar 6} ^:baz ^{:qux 7} zork`. However reading such forms is nontrivial because of the left-to-right merge behavior of the reader as well as simple lexical volume.

I propose that the format of two or more nested meta expressions should be by convention the `^{}` equivalent, with spe

[2016-07-27 21:12] weavejester commented on #79
I don't mind having this as an option, but I don't think it should be the default.

[2016-07-29 14:58] trimtab613 commented on #76
The bug in rewrite-clj has been fixed: https://github.com/xsc/rewrite-clj/issues/50

[2016-09-01 17:13] carrete commented on #59
Just added to rewrite-clj, https://github.com/xsc/rewrite-clj/blob/master/CHANGES.md#052

[2016-09-02 19:14] carrete commented on #59
And now rewrite-cljs, https://github.com/rundis/rewrite-cljs/issues/8

[2016-09-16 13:44] weavejester commented on #59
Should be fixed by #80.

[2016-09-16 13:44] #59 closed

[2016-09-16 13:51] weavejester commented on #76
This is now fixed in cljfmt for Clojure (via #80), but not ClojureScript.

[2016-09-16 14:00] trimtab613 commented on #76
Awesome thank you. Looking forward to 0.5.4 being published on clojars!

[2016-09-16 17:37] carrete opened #81 "Incorrect indentation of reader conditionals."
Looks like #80 only fixed half of #59. This still happens:

[code]

[2016-09-16 18:04] weavejester commented on #81
Ah, good catch! That does still need to be solved.

[2016-09-16 19:41] arrdem commented on #81
What's the better fix here - hack rewrite-clj to have a better reader-conditional node which exposes the different clauses as if it were a map node or just teach cljfmt about that? Seems like this should probably get fixed on the rewrite-clj side to me...

[2016-09-16 20:35] weavejester commented on #81
I think this is something that could be fixed on the cljfmt end of things. cljfmt just needs to treat lists as collections if they succeed a conditional.

[2016-09-16 21:20] #81 closed

[2016-09-16 21:21] arrdem commented on #81
Thanks for the quick patch!

[2016-09-16 21:32] carrete commented on #81
Yeah, thanks!

[2016-09-16 21:57] carrete commented on #81
And confirmed. This did work. Thanks again!

[2016-09-29 13:38] #76 closed

[2016-09-30 19:58] weissjeffm opened #82 "Indentation lost after comment line"
When a line is commented out and what's next is `]`, then that gets aligned at column 1 for some reason. It should be at column 4, i believe (that's what clojure-mode does).

Input for cljfmt fix:

[code]

output

[code]

expected

[code]

[2016-09-30 19:59] weissjeffm commented on #82
BTW the same thing happens inside a map literal also.

[2016-09-30 21:15] arrdem commented on #82
So I think what's happening here is that the comment is messing up scanning backwards to the previous form to get indentation... definitely a bug in cljfmt not rewrite-clj and shouldn't be too hard to fix.

[2016-10-04 14:29] bjonica opened #83 "0.5.6 is not released to clojars"
The latest available version is still 0.5.5 which conflicts with the documentation.

[2016-10-04 14:35] weavejester commented on #83
Oops! The Leiningen plugin wasn't properly uploaded. It should work now.

[2016-10-04 14:35] #83 closed

[2016-10-07 00:14] ianconsolata opened #84 "Ignore existing whitespace format errors"
We have a very large contingent of engineers in our company who don't want a single large whitespace commit because it obscures the git history. But we would like to enforce style guidelines going forward. Rubocop (https://github.com/bbatsov/rubocop) allows you to generate an excludes file based on the current state of the codebase. Is it possible to do the same with `cljfmt`?

[2016-10-07 00:29] weavejester commented on #84
Not currently, but I'd accept a PR to that effect.

[2016-11-15 05:13] weavejester commented on #51
Should be fixed in rewrite-clj 0.5.0, and cljfmt uses 0.5.2.

[2016-11-15 05:13] #51 closed

[2016-11-17 12:00] mitchelkuijpers commented on #49
I would like to take a stab at this @weavejester Would you still consider this? @Malabarba I think I'll take you up on the help ^^

[2016-11-17 19:38] arrdem commented on #49
@mitchelkuijpers awesome! Thanks for taking this up, I glanced at it a few weeks ago and didn't get anywhere. As you work on this, I'd keep a critical eye on both indentation spec formalisms. I'm concerned that for instance @weavejester likes to write

[code]

Neither indentation specifier provides a way to require linebreaks.

Also as far as I'm able to tell, neither indentation specifier is able

[2016-11-17 20:06] weavejester commented on #49
[code]

The lines in `cljfmt.core` weren't written by me. I think I allowed that style because otherwise the lines would have been too long.

Well, because they're indentation specifiers, not linebreak specifiers. Automatically adding linebreaks is another problem.

[2016-11-17 21:59] arrdem commented on #49
Apologies for casting stones, my point was more that neither spec provides line break specifications, nor term repetition nor patterns and all of those both seem to be stumbling blocks which someone's gonna want to fix eventually.

[2016-11-21 00:49] Malabarba commented on #49
@mitchelkuijpers Happy to help however I can.

[2016-11-22 17:14] MatthewDarling opened #87 "Undocumented feature: sequence of indentation rules"
We're using a macro that wraps ```defrecord```. The cljfmt rule for ```defrecord``` is:

[code]

However, this doesn't quite produce the indentation I'm looking for, when I apply it to our macro. But the README doesn't spell out what it means to have a sequence of indentation rules, so I'm not too sure how to modify that to work the way I want for our macro.

[2016-11-22 18:30] weavejester commented on #87
A sequence of indentation rules is just a way of applying multiple rules.

So in the case of `defrecord`:

[code]

So for a record like:

[code]

[2016-11-22 19:44] MatthewDarling commented on #87
Ah, I see, so it's not "apply block then inner in this order" but "both of these things apply".

Your explanation makes sense to me. I think it would make for a good section in the README like "advanced indentation rules" or something.

[2016-11-22 20:31] weavejester commented on #87
I'll see about adding one in, though if #49 is solved, the current syntax ceases to be relevant.

[2017-01-27 23:11] LusciousPear opened #89 "Could not locate cljfmt/core__init.class"
Hi. Rather odd problem. I've used cljfmt on dozens of codebases, but I can't seem to get it to run on this one.

My project.clj is:

[code]

I do `lein cljfmt fix` at the bash prompt and get:

[code]

[2017-01-27 23:18] weavejester commented on #89
I can't replicate the error you report with the project file you provide.

You do have `lein-cljfmt` listed twice; once correctly in `:plugins`, and once erroneously in the `:dependencies` vector. However, that shouldn't cause an error.

[2017-01-27 23:22] LusciousPear commented on #89
Wow! Thanks for the quick reply.

I imagine it's likely an environmental problem, then. Tried on OS X instead of Ubuntu 15.04 and it works fine.

[2017-01-27 23:54] weavejester commented on #89
Might be a caching problem? Try wiping your `~/.m2` directory?

[2017-01-28 00:43] LusciousPear commented on #89
Just did that, didn't help.

On Fri, Jan 27, 2017 at 5:54 PM, James Reeves <notifications@github.com>
wrote:

--
Bradford Stephens
roboticprofit.com
Data for Driving Revenue

[2017-01-28 08:08] expez commented on #89
Maybe problems with AoT artifacts lying around.  Does `lein clean` help?

[2017-01-28 18:27] LusciousPear commented on #89
Oddly, that did not help.

On Sat, Jan 28, 2017 at 2:08 AM, Lars Andersen <notifications@github.com>
wrote:

--
Bradford Stephens
roboticprofit.com
Data for Driving Revenue

[2017-01-30 04:10] LusciousPear commented on #89
This has been resolved by upgrading from Lein 2.5.1. thx to @arrdem <3

On Sat, Jan 28, 2017 at 12:27 PM, Bradford Stephens <
bradfordstephens@gmail.com> wrote:

--
Bradford Stephens
roboticprofit.com
Data for Driving Revenue

[2017-01-30 05:15] #89 closed

[2017-01-30 08:32] arrdem commented on #89
ur welcome brad

[2017-02-03 02:02] indiejames opened #90 "Strange formatting of defn with repeated blank lines"
The following:

[code]

formats to this using defaults:

[code]

I expected it to remove the repeated blank lines, but not to move the start of the `let` onto the same line as the arguments.

[2017-02-21 09:15] raysegantii opened #91 "Unable to add more indentation hints"
I'd like to add a few preferences to the indentation, I put this in `~/.lein/profiles.lcj`:
[code]

But it still formats as:
[code]
instead of
[code]

Any idea please?

[2017-02-21 14:50] weavejester commented on #91
Check the information in the README about `:block`:

So you've set `send` to `[:block 1]`, but you have a line break after the second argument, not the first. If you want the indentation to always be two characters, unconditionally, use `:inner`.

[2017-03-03 18:10] bhurlow opened #92 "remove-consecutive-blank-lines should remove between forms"
[code]

but

[code]

[2017-03-03 18:16] bhurlow commented on #92
might to do with `count-newlines`

[2017-03-03 18:26] weavejester commented on #92
`remove-consecutive-blank-lines` removes consecutive blank **lines**. It doesn't remove additional spaces within forms.

Sometimes additional spaces are used for alignment. cljfmt currently doesn't have a rule to differentiate between accidental spaces within forms, and spaces that are deliberately added.

[2017-03-03 18:30] bhurlow commented on #92
Hence the word 'lines' :) thx

[2017-03-14 02:20] technomancy opened #93 "Non-lein configurability"
The readme mostly documents usage through the Leiningen plugin. It occurs to me that it would be nice to be able to invoke a formatting command directly from your editor, perhaps over an nrepl connection. However, if you're running `cljfmt` inside your project's process, it will not have access to the config map in `project.clj`.

Have you thought about allowing config options to be set somewhere

[2017-03-14 03:51] weavejester commented on #93
You can pass the options directly to `cljfmt.core/reformat-string`, so if you wanted you could do something like:

[code]

Though that doesn't include the diff formatting that I've added to the Leiningen plugin. It might be worth moving that into the cljfmt.core namespace or another library for ease of use.

If you're asking about a standard way of passing options from a Leiningen project file int

[2017-03-14 17:23] technomancy commented on #93
I would rather move towards decoupling them completely than adding a
mechanism to communicate between the two modes.

The bigger question is why this config is in the project.clj file to
begin with. I think there's a sense in which things get added to
project.clj because it's already there, and not because they necessarily
belong there. I've certainly been guilty of this myself.

There are a few t

[2017-03-14 19:48] weavejester commented on #93
I think I have a couple of reservations.

First, cljfmt statically analyses a source tree, so ideally you want to avoid loading in the project dependencies. The lein-cljfmt plugin currently doesn't require Leiningen starting another JVM, so there'd be a performance hit if it was changed to be an alias to `lein run -m cljfmt.main`. I guess you could maybe trampoline it?

Second, I don't really like

[2017-03-14 20:37] technomancy commented on #93
I see; yeah performance is a concern. Trampoline won't work as an alias
because it requires cooperation from the bin/lein shell script.

That makes sense to me for build-related things, but cljfmt strikes me
as being specifically an editor tool. It's not about "run this command
to prepare the project for deployment", it's about "here is another
command you can run during development to make change

[2017-03-15 17:22] weavejester commented on #93
What about this: we introduce a `cljfmt.main` namespace that includes a `--config` or `-c` option that allows a configuration file to be specified. This would allow cljfmt to be used as a standalone executable, without the need to tie the configuration to a fixed resource.

The lein-cljfmt plugin could just be a thin wrapper around it, effectively the same as an alias, but more performant because

[2017-03-20 15:03] ccann opened #94 "Support for variable naming / casing conventions"
I think it would be awesome if cljfmt had a feature where it would detect/fix bad var casing, e.g.:

[code]

[2017-07-16 19:17] razum2um opened #97 "Indent to 1 space, not 2 by default in several cases"
You already mentioned here https://github.com/weavejester/cljfmt/issues/46#issuecomment-139166160 that there should be normally 2 spaces (I totally agree, and also idea+cursive formats code below this way by default). But default configuration of cljfmt does this:

[code]

Reproduction repo: https://github.com/razum2um/cljfmt-space

[2017-07-16 19:22] razum2um commented on #97
@weavejester configuration like this
[code]
fixes behaviour, but obviously I cannot list every fn, and `#".*"` is not an option as well (break other things)

btw, @bbatsov I use spacemacs and it also formats the source with 1 space like above, why?

[2017-07-16 19:32] weavejester commented on #97
This is [standard Clojure indentation](https://github.com/bbatsov/clojure-style-guide#one-space-indent). Unless the function is a macro with special indentation rules, this is how it should be indented.

[2017-07-16 19:33] razum2um commented on #97
@weavejester thanks for such fast answer, ok, I probably should go to cursive's bugtracker then

[2017-07-16 19:33] #97 closed

[2017-08-01 17:55] MatthewDarling opened #98 "Timeline for release 0.5.7"
There's been a few commits to master since 0.5.6, but no release yet of a newer version. Are there specific milestones that ought to be incorporated before a 0.5.7 release is considered?

[2017-08-02 00:01] weavejester commented on #98
It just slipped my mind that this project had commits not in a release :)

I've released 0.5.7 now.

[2017-08-02 00:01] #98 closed

[2017-08-31 23:02] kennyjwilli opened #101 "Adjustable indentation"
Right now there is no way to achieve this indentation:
[code]
If the indentation for for `:block` was configurable, I believe this could be achieved with something like `{assoc [[:block 1 2]]}`.

[2017-09-27 14:05] vemv opened #102 "Watch mode?"
Hi there,

thanks for this fantastic tool. At work the whole team relies on it! (part of our CI suite)

It would be very nice to have a watch mode for both checking and fixing. So I could leave `lein cljfmt watch fix` and get my files autoformatted right after I save them.

I'm aware that Emacs/etc have proper autoformatting mechanisms, but I use Emacs/Atom/others liberally and would appreciate a

[2017-09-27 14:34] vemv commented on #102
Hadn't heard of that one!

Looks good, will be trying. Would be memory consumption + execution time comparable to a direct implementation at `cljfmt` level?

[2017-09-27 15:14] vemv commented on #102
Gave it a quick try, it works but slowly, as `lein cljfmt fix` keeps checking for files that haven't changed. Significant in our project (many/large .cljs files)

A general-purpose fix would consist of making https://github.com/weavejester/lein-auto invoke `lein cljfmt fix` N times, one per changed file.

[2017-10-03 16:05] lincoln-b opened #103 "Using cljfmt within clojure"
This is a great tool!

I'm wondering if I can use it inside of my project as a dependency.

I tried to do the following:

[code]

But it's not returning a correctly formatted string. What am I doing wrong?

[2017-10-03 20:37] weavejester commented on #103
cljfmt is designed to correct formatting mistakes, not to reformat Clojure code from scratch. Putting all your Clojure code on one line isn't technically incorrect, after all! It sounds like you want [zprint](https://github.com/kkinnear/zprint), an alternative project that will format completely unformatted Clojure code.

[2017-10-04 01:48] lincoln-b commented on #103
Oh, ok! Thanks for the clarification. Not sure how I missed that.

[2017-10-04 01:48] #103 closed

[2017-10-18 23:37] MichaelBlume opened #105 "Enforce fn args on their own line"
My understanding is that standard Clojure style requires
[code]

[2017-10-19 02:17] weavejester commented on #105
Standard Clojure style allows for [both forms](https://github.com/bbatsov/clojure-style-guide#oneline-short-fn). cljfmt doesn't have a way of enforcing newlines currently.

[2017-10-24 19:36] kennyjwilli opened #106 "Namespaced keywords are not supported"
Parsing the below string using rewrite-cljs or rewrite-clj works as expected:
[code]

Using cljfmt throws this exception:
[code]

[2017-10-24 19:49] weavejester commented on #106
What does your dependency tree look like? Are you pulling in an older version of rewrite-clj?

[2017-10-24 20:24] kennyjwilli commented on #106
[code]
Newer version of rewrite-cljs.

[2017-10-24 21:23] weavejester commented on #106
It looks like it's an omission in rewrite-cljs; even the latest master branch has the check: https://github.com/rundis/rewrite-cljs/blob/master/src/rewrite_clj/node/keyword.cljs#L16

[2017-10-24 21:32] kennyjwilli commented on #106
Then why would running the above code with rewrite-cljs format correctly?

[2017-10-24 21:42] weavejester commented on #106
It appears that only the `rewrite-clj.node/sexpr` function doesn't work, and this is used internally by the zipper.

[2017-11-02 15:31] lcodes commented on #73
I just overwrote the indent rule for `letfn` in our project.clj and found the following form to work correctly: `[[:block 1] [:inner 2]]`.

cljfmt no longer reports errors with our letfn forms!

[2017-11-13 14:59] JoelSanchez commented on #73
Said workaround works fine...unless you have a `->>` form (and surely others) inside your letfn. It will indent it with 2 spaces (the effect of `:inner 2` I suppose).

[2017-11-14 20:49] lcodes commented on #73
Yes I hit that one right now, refactored without a `letfn` for now. But my rule override definitely isn't a fix yet.

[2017-11-21 21:16] v-kolesnikov commented on #73
It's really broken.

[2017-11-27 12:57] vemv opened #107 "Mulitple arity implementations of a protocol inconsistently indented"
Hi!

cljfmt emits this as formatted code:

[code]

There's an indentation inconsistency between each arity implementation.

Hope this can get fixed at some point!

Thanks - Victor

[2017-12-13 21:02] MatthewDarling commented on #82
Stepping through with the CIDER debugger, [`remove-surrounding-whitespace`](https://github.com/weavejester/cljfmt/blob/master/cljfmt/src/cljfmt/core.cljc#L58) is responsible. The whitespace disappears after a few iterations through `edit-all`.

When it looks at the whitespace starting the line after `;;;test1`, `surrounding-whitespace?` returns true, because the current node is whitespace and [par

[2017-12-21 23:53] MatthewDarling commented on #67
Looking at the linked examples, it looks like you want to keep commas when they're the first non-whitespace character on the line.

And anywhere else, removing them is fine?

[2017-12-22 00:07] MatthewDarling opened #108 "Namespaces not preventing collisions with built-in formatters"
Given [identical formatting definitions](https://github.com/MatthewDarling/cljfmt-defrecord-formatting-example/blob/master/project.clj#L8-L9) of `[[:block 1] [:inner 1]]`, a form that [shares a name with `clojure.core` will indent differently](https://github.com/MatthewDarling/cljfmt-defrecord-formatting-example/blob/master/src/core.clj):

[code]

I've found that using `^:replace` will get them to

[2017-12-22 00:24] MatthewDarling commented on #108
As an aside, I think the behaviour of `^:replace` could be clarified a bit in the readme.

Here's a rough attempt:

[code]

If you want to have a clean slate for defining indents, the replace hint
combined with a greedy regular expression will allow that:

[code]

From there, you could define indents one at a time to achieve the desired behaviour.
[code]

Both the `are` key and the `#".*"` key wou

[2017-12-22 00:49] weavejester commented on #108
A regex rule matches all symbols that match the regular expression. A symbol rule matches only the exact symbol. Symbols are matched before patterns, therefore `are` is matched over `#".*"`.

The `:replace` metadata works the same way as normal Leiningen merging metadata. It's not treated specially.

[2017-12-22 00:56] arrdem commented on #67
So I use `,,` as a line prefix in require/import forms since none of the indenters happen to understand or format prefix lists meaningfully and that trick happens to work in CIDER. Same thing for `cond` and other forms which have consecutive pairs that are not typically block indented when on different lines.

In general, I'm not sure that cljfmt should be removing commas when they occur.

[2017-12-22 23:03] MatthewDarling commented on #108
Oh, I see, looks like `^:replace` on the outer map just discards the original map:

[code]

I kind of assumed it would act as though every item in the map had the metadata, guess not.

So the example I gave ought to be:

[code]

----------

Anyway, now that I understand some of those extra details, back to the question of namespaces!

This produces the expected indentation:

[code]

But having `s/

[2017-12-22 23:10] weavejester commented on #108
Yes, I'd be happy to accept a PR that adds some manner of namespace support. Obviously it can't work in 100% of cases, as that would require evaluating the namespace, but if we assume that the `ns` declaration is the only source of namespaces then we can find and parse it.

[2017-12-29 19:45] johnjelinek opened #110 "Running at the CLI without lein"
Is it possible to run this at the CLI without lein? I'd like to point to a single cljs file that isn't accompanied by a `project.clj`.

[2017-12-30 02:21] MatthewDarling commented on #110
If you have a way to execute arbitrary Clojure(Script), it should be possible. You'd need a way to load the main `cljfmt` library as a dependency, and then:

[code]

I think that's the absolute bare minimum code needed to reformat a file. Basically just [reimplementing `leiningen.cljfmt/fix`](https://github.com/weavejester/cljfmt/blob/master/lein-cljfmt/src/leiningen/cljfmt.clj#L130-L138).

If you

[2017-12-30 03:20] MatthewDarling commented on #110
Oh, #93 seems related. And actually has a link to [`node-cljfmt`](https://github.com/snoe/node-cljfmt). Seems like exactly what you're looking for!

[2017-12-30 07:27] MatthewDarling commented on #82
Starting to understand `rewrite-clj` and `cljfmt` a bit better, so I took another look at this today.

## Slightly more informed description of the issue

In terms of why `remove-surrounding-whitespace` is responsible: the README example is turning `( foo )` into `(foo)`. So `surrounding-whitespace?` check if a node is whitespace, and that it either has nothing to its left, or nothing but whitespa

[2018-01-22 23:25] arrdem opened #111 "Parens after trailing comment not indented"
I encountered this bug while trying to format a codebase. It looks like the trailing comment causes the computation of the last indentation width not to occur correctly. If there's a trailing newline, it seems that the computed indentation width is `0` somehow, otherwise the left margin of the previous form seems to win.

Neither of these is expected behavior, I'd expect that the closing stack of

[2018-01-23 15:49] MatthewDarling commented on #111
Seems related to #82. Which you had said in ~16 months ago "shouldn't be too hard to fix", haha.

At least, Ex 2 seems the same as that issue. Ex 1 is new to me, but it seems likely to be the same underlying problem.

When I was working on it, it was proving difficult because parens don't actually have nodes in the tree. Although, thinking about it now - I wonder if end-of-line comments could have

[2018-01-23 18:01] arrdem commented on #111
Argh 😄 well, I guess it's time for me to eat my words. I'll see if I can pick this up today.

[2018-01-23 23:43] gonewest818 opened #112 "comments inside map literals aren't handled consistently"
Here's an example.  If you have code like this:

[code]

then `cljfmt fix` produces this:

[code]

where the hash-map entries are all aligned properly to the opening `{`. The interior comments seem to be ignored, however.  And incidentally, the alignment of the closing `})` seems identical to #111, but I'm not sure if what's happening with the comments is also related.

[2018-02-14 16:34] cneira opened #114 "Request: Format enforce 80 column layout"
Is it possible to have an option to format code to 80 columns?

[2018-02-17 01:04] daveyarwood commented on #114
I also think this would be a good addition.

For me, the motivation is that vim-fireplace, which is sort of "the" Clojure REPL integration plugin for Vim, breaks the standard Vim keybinding `gq` which is used to format code such that each line is limited to 80 characters, and instead uses cljfmt to format code. So, it would be nice if it were possible to configure cljfmt to format code to 80 colum

[2018-02-17 01:08] weavejester commented on #114
I'm fine with this, and it adheres to the Clojure Style Guide. However, I won't have a lot of time to spare to spend on this; I'll review and merge PRs, but I won't be working on cljfmt myself, for a while.

[2018-03-06 20:56] a613 opened #115 "Default formatting for wrapped imports pulls left instead of aligning with previous classes"
Imagine a long, unwrapped list of imports:

[code]

The [Clojure convention](https://github.com/bbatsov/clojure-style-guide#comprehensive-ns-declaration) is to indent these wrapped lines so that they align with previous classes:

[code]

And that's how I have it formatted in my project. But cljfmt re-formats like this:

[code]

How would I configure cljfmt to line these classes up, and shouldn't t

[2018-03-29 13:55] lxsli commented on #110
This issue makes it hard to use cljfmt in a Clojure 1.9 tools-deps setup.

[2018-03-29 20:00] a613 commented on #115
Poke

[2018-04-01 00:00] JamesLaverack commented on #110
@lxsli I wrote a bit of glue to use cljfmt in a Clojure 1.9 tools-deps setup: https://github.com/JamesLaverack/cljfmt-runner

It largely works by copying what lein-cljfmt does.

[2018-04-01 06:32] lxsli commented on #110
Sweet, thanks @JamesLaverack

[2018-04-15 23:47] royaldark opened #116 "Include .cljc by default?"
Is there a reason the default `:file-pattern` does not include `.cljc` files? It's easy enough to tweak `project.clj` to add, but I find myself having to do it pretty frequently.

[2018-04-16 01:01] weavejester commented on #116
I think originally it was because reader conditionals weren't supported, but as that's changed the file-pattern could also be updated to support `.cljc` files by default.

[2018-04-17 15:15] #116 closed

[2018-04-28 05:45] snoe opened #118 "New lines disappear when `\n\n\n ` between forms"
When there are at least three newlines followed by a space between two forms, calling `reformat-string` will delete the newlines:
`(cljfmt/reformat-string "a\n\n\n b") => "a b"`

expected:
`(cljfmt/reformat-string "a\n\n\n b") => "a\n\nb"`

[2018-05-05 11:34] danielcompton opened #120 "Linebreaking and re-indenting?"
These forms are both treated by lein-cljfmt 0.5.7 as fine and not needing any repair, even though neither is very idiomatic Clojure.

[code]

[code]

What are your thoughts on making cljfmt re-indent files, and also break them (in some circumstances, probably can't always do this)?

My dream is for a Clojure formatting tool which would always converge to reformat to the same file, no matter how mu

[2018-05-05 14:54] weavejester commented on #120
I think that's a good idea; however, my goal with cljfmt wasn't to provide a canonical format, but to fix any formatting issues that were obviously wrong.

Have you looked into [zprint](https://github.com/kkinnear/zprint)? You may find that more what you want to do.

[2018-05-05 19:49] danielcompton commented on #120
I’ve seen zprint, it does do more breaking than cljfmt, but is extremely configurable. Ideally I’d have a tool with zero/minimal config.

[2018-05-08 16:58] shmup opened #121 "Any thoughts to have formatting output as STDOUT?"
I was going to toy around with improving [vim-cljfmt](https://github.com/venantius/vim-cljfmt) since it doesn't follow nice practices, and just runs _all the time_.

But really, that's not even what I prefer in vim. I really want to use vim's builtin `formatprg`, and set it to `cljfmt` for `ftdetect/clojure.vim`. Cool.

But that'd require that `cljfmt` itself has the option to just output the form

[2018-05-08 20:10] weavejester commented on #121
`cljfmt.core/reformat-string` returns the formatted code as a string, so you can do whatever you want with it, including printing it to `STDOUT`.

[2018-05-09 12:18] cbcoutinho opened #122 "Single space after `=` instead of default two"
I just used `cljfmt` on a clojure test file and saw the following diff output:

[code]

I was expecting it to keep the default of two spaces, but apparently indenting after the `=` uses only one space.

[2018-05-09 12:43] weavejester commented on #122
Yes, one space is correct according to [the clojure style guide](https://github.com/bbatsov/clojure-style-guide#one-space-indent), and it's also the indentation that Emacs uses.

[2018-05-09 13:00] cbcoutinho commented on #122
Oops! My mistake then - thanks for pointing me to the style guide. Closing this issue

[2018-05-09 13:00] #122 closed

[2018-05-09 15:18] shmup commented on #121
Let me wrap my head around what would be needed for this. I assume it is trivial, but I'm new to this stack (language/tools), and am uncertain what the best way to call `lein cljfmt` but specifically `reformat-string`, is, conveniently.

[2018-05-09 16:16] weavejester commented on #121
It depends what exactly you want to do. If you're running a binary, you may want to look into one of the versions of cljfmt compiled for node, as the startup time for that is better. Otherwise you'll want to construct some small program that takes whatever input `formatprg` expects, and produces the right output by piping the input through `reformat-string`.

[2018-05-09 19:35] shmup commented on #121
But one of the binaries compiled for node just updates the file in place it appears, no stdout? So I'd still be interested in `reformat-string` it appears?

[2018-05-24 22:20] rplevy commented on #114
Just to put it out there, if people are coming across this issue looking for an 80-char Clojure source code formatter, that is one of the features of https://github.com/kkinnear/zprint

[2018-06-17 14:05] weavejester commented on #49
Yes. I've just been too busy on other things to add this myself.

[2018-06-17 17:01] bbatsov commented on #49
Same here. I planned to work on this myself, but never found the time. I still think that this is going to be an awesome addition to cljfmt and a big step towards wider adoption of a common indentation spec.

[2018-06-17 18:37] PEZ commented on #49
Great! I too think it would be a big step away from the indent war between different editors and tools. Are you still eager to help, @mitchelkuijpers and @Malabarba?

[2018-06-24 13:50] olecve opened #125 "Not able to format source code with #:: in it"
Hi!

lein-cljfmt 0.5.7 fails on following source code

[code]

my project dependencies are

[code]

I tried to exclude rewrite-clj and use [rewrite-clj "0.6.0"], but it doesn't help

[2018-06-24 23:13] danielcompton commented on #125
@olecve can you share how it failed? What was the stacktrace?

[2018-06-25 07:01] olecve commented on #125
@danielcompton please find the log with stacktrace below

[code]

[2018-06-25 07:27] mitchelkuijpers commented on #49
@PEZ Sure, I tried starting on this but what was hard is that you can run cljfmt outside of the clojure process. So got stuck on finding the var metadata to define the indentation on symbols. If you have any ideas I would be happy to take this on.

[2018-06-25 09:31] bbatsov commented on #49
I think you can simply use a parser to extract the metadata https://github.com/clojure/tools.analyzer

Probably given the limited scope of this you can just use https://clojure.github.io/clojure/clojure.walk-api.html and simply look for the relevant `:style/indent` keys with it.

[2018-06-26 12:35] PEZ commented on #49
Maybe I am misunderstanding something, but `cljfmt` uses `rewrite-clj`, if I recall correctly. And also if I recall correctly, `rewrite-clj` gives access to the metadata of the members of the AST (or whatever the structure is that it is using).

[2018-07-22 10:21] simon-katz opened #126 "Formatting of `letfn`"
I'm using clj-fmt 0.6.0.

The formatting I'm getting for `letfn` isn't right.

I would hope to get this:

[code]

Without adding my own `letfn` rule, the first function that is being defined indents correctly but subsequent functions don't:

[code]

If I add the `{letfn [[:inner 2 0]]}` rule suggested in the README, in addition to the above the body of the `letfn` is indented wrongly:

[code]

FWI

[2018-07-22 10:48] simon-katz opened #127 "Formatting of closing parens etc on a new line"
I'm using clj-fmt 0.6.0.

The formatting I'm getting for closing parens etc on a new line seems wrong to me (by what I'm used to from CIDER, Emacs Lisp and Common Lisp).

For example the following (which I think is indented correctly)…

[code]

…gets changed to…

[code]

[2018-07-22 13:17] weavejester commented on #126
This looks like a duplicate of #73.

[2018-07-22 13:17] #126 closed

[2018-07-22 13:18] weavejester commented on #127
This looks like a duplicate of #82.

[2018-07-22 13:18] #127 closed

[2018-08-08 16:59] ProjectFrank commented on #118
was this issue sufficiently addressed in the PR that references it?

[2018-08-08 21:29] weavejester commented on #118
Yes, looks like this is fixed.

[2018-08-08 21:29] #118 closed

[2018-08-21 20:17] timmc-bcov commented on #82
That basically makes sense, but... if I set `:cljfmt { :remove-surrounding-whitespace? false }` the issue still occurs. So I wonder if that's really what's going on...

(Also, any recommendations on a workaround?)

[2018-08-28 19:06] dijonkitchen commented on #111
Should this be closed since it's a duplicate of #82?

[2018-08-31 15:00] MatthewDarling commented on #125
It looks like the problem is `tools.reader`, rather than `rewrite-clj`. If you run `lein deps lein deps :plugin-tree`, can you see what version of `org.clojure/tools.reader` is used?

The latest version of `tools.reader` is `1.3.0`, released in July 2018. The issue may be fixed somewhere in there, though unfortunately the changelog hasn't been kept up to date lately, making it hard to tell.

[2018-09-13 21:25] dijonkitchen opened #131 "Feature: Elastic Tabstops"
Can cljfmt utilize [elastic tabstops](http://nickgravgaard.com/elastic-tabstops/)?

[2018-09-13 23:28] dijonkitchen commented on #131
Well could it be done with soft tabs?

Elastic tabstops might be really good for large maps with keys of different lengths so it makes it more readable or comments that line up too.

[2018-09-13 23:42] Immortalin opened #132 "NullPointerException"
Invoked on a single clojurescript file (lumo variety, standalone, not part of leniningen or anything)

[code]
[code]

[2018-09-13 23:43] weavejester commented on #131
I'm afraid I have no incentive to implement a non-standard Clojure formatting in cljfmt.

[2018-09-14 01:07] weavejester commented on #132
Why is your build including `cljfmt.main`? It's not a ClojureScript file, nor included by any ClojureScript file.

[2018-09-14 01:53] Immortalin commented on #132
It's not including, I am invoking it with the leiningen prefix.

[2018-09-14 04:32] dijonkitchen commented on #131
Does it count as non-standard if Clojure can accept any amount of whitespace between map items?

[2018-09-14 09:40] #132 closed

[2018-09-14 09:46] weavejester commented on #131
Just because the syntax is valid doesn't mean it's idiomatic, and cljfmt is designed to produce idiomatic formatting of Clojure.

[2018-10-06 15:31] sloxy opened #134 "cljfmt not working on Windows 10"
throws exception when `lein cljfmt check` run in root dir of project or when given explicit relative path to file or when given absolute path. this includes substituting `\\` for `\`

upto date **Windows 10** 64 bit
java version **"1.8.0_162"**

using either **clojure 1.8 or clojure 1.9** - cljfmt fails on [diff.clj ](https://github.com/weavejester/cljfmt/blob/master/cljfmt/src/cljfmt/diff.clj#L14

[2018-10-06 15:50] sloxy commented on #134
running that `re-patern` on linux works as expected:
https://repl.it/repls/DarkkhakiVibrantProgramminglanguages

[2018-10-06 16:30] sloxy commented on #134
pedestal proj had same issue: https://github.com/pedestal/pedestal/issues/23

single line fix: https://github.com/pedestal/pedestal/pull/29/files

`File/separator` -> `(java.util.regex.Pattern/quote File/separator)`

note, seems to have same effect but re-pattern produces diff ret val:

![image](https://user-images.githubusercontent.com/36491088/46573455-74af0900-c98d-11e8-873e-94eff610f628.png)

[2018-10-07 11:40] sloxy opened #137 "line endings issue on Windows"
cljfmt will (incorrectly) flag the line ending as a change to be made after running `lein cljfmt check` when run on Windows (line endings = `\r\n`). cljfmt's corrected version uses `\n` as line ending.

![image](https://user-images.githubusercontent.com/36491088/46573891-31f02f80-c993-11e8-9480-ac14bf68baed.png)

running `lein cljfmt fix` and then running `git diff`:

![image](https://user-images.

[2018-10-07 12:03] #134 closed

[2018-10-10 06:58] PEZ opened #139 "Calva Formatter is a good choice of clj-fmt for VS Code"
Hello,

I notice that the README mentions `vscode-clj-fmt`, but really think that [Calva Clojure Formatter](https://github.com/BetterThanTomorrow/calva-fmt) would be a better choice. It is built from `vscode-clj-fmt` and fixes its bugs while also adding more support for format-as-you-type. It is also bundled with [Calva](https://github.com/BetterThanTomorrow/calva), and lots of people might end up

[2018-10-10 08:43] weavejester commented on #139
Sure, you can add a link to Calva to the README if you want.

[2018-10-10 09:01] pedrorgirardi commented on #139
@PEZ, you can remove the link to **vscode-cljfmt** if you think it causes confusion to **Calva** users.

[2018-10-10 10:33] #139 closed

[2018-11-01 15:25] PEZ opened #141 "Some lines with only a closing bracket get no indent at all, when not removing surrounding whitespace"
I'm using `cljfmt/reformat-string` with this option map:

[code]

Formatting:
[code]

I expect:
[code]

But I get:
[code]

Am I misunderstanding something or is my expectation correct?

Formatting:
[code]

Results in the expected:
[code]

EDIT: I'm using cljfmt from ClojureScript, if that has anything to do with anything.

[2018-11-01 16:14] PEZ opened #142 "Whitespace-only line gets whitespace removed even with options to not remove whitespace"
I'm using `cljfmt/reformat-string` with this option map:
[code]

Representing space characters with a small dot in the below examples.

Formatting:
[code]

I expect to get:
[code]

But I get:
[code]

I expect the whitespace on those lines to be treated as trailing, and thus not removed. At least this is what II need it to be treated as in [Calva Formatter](https://github.com/BetterThanTomorrow/cal

[2018-11-01 16:31] weavejester commented on #142
That makes sense. I'll accept a PR to fix this.

[2018-11-01 16:32] weavejester commented on #141
Yes, your expectation is correct. I'll accept a PR to fix it.

[2018-11-01 20:12] PEZ commented on #141
There is hope! 😄 and this is great. It means I can continue to try make Calva Formatter contribute to help with setting a community standard using `cljfmt`.

Not sure about my capacity of providing the PR, I am spreading myself a bit thin, maybe, but this is important. Starting to realize where @bbatsov's rants stem from. Haha. But I'll find a way to get this done.

[2018-11-02 13:39] dotemacs commented on #141
Hi,

not saying that I'll do this, but I just tested this and for me:

[code]

I don't get the formatting that you describe @PEZ.

This is with `cljfmt` that is currently in `master`.

[2018-11-02 13:41] dotemacs commented on #141
I'm blind, didn't see `{:remove-surrounding-whitespace? false}`.

Please ignore me :)

[2018-11-02 20:01] PEZ commented on #141
Please say that you will! :smile:

[2018-11-03 19:20] replomancer commented on #142
Allright, I volunteer to do this. I don't know if I can find time this week, so the PR will be a little later, but PEZ told me it's ok for him.

[2018-11-06 15:16] danielstockton commented on #60
The default `cond` and `cond->` indentation is horrible.

In emacs clojure-mode, I use the following functions:

[code]
However, on shared projects I would like to use cljfmt (not everyone uses emacs) and this is my biggest pain point.

[2018-11-09 00:49] noisesmith opened #144 "Incorrect formatting when multiple blank lines at end of file"
project.clj:

[code]

source file:

[code]

output:

[code]

instead of showing a diff for the trailing empty lines, it imposes a line break in the middle of the function call

[2018-11-09 00:51] noisesmith commented on #144
using fix instead of check just makes the change the diff would suggest (leaving the trailing whitespace, and imposing an empty line in the middle of the function call)

[2018-11-09 01:00] weavejester commented on #144
I can't reproduce your results. I get:

[code]

Do you have any plugins installed to your `~/.lein/profiles.clj` that might be affecting things?

[2018-11-09 01:03] weavejester commented on #144
Ah, wait, I see the newlines in your example now. I can reproduce your issue when I add in those blank lines.

[2018-11-13 18:41] lread opened #145 "Make unit tests easier to understand"
I was about to dig into an open issue when I found that I was having difficulty reading reformat-string unit tests, hence this proposal.

Inspired by the conventions in #88, I think we can make reformat-string unit tests easier to digest by:
1. Giving each line its own line (no longer embedding \n)
1. Making the intent of each test clear by giving it a description. Having tests separated into test

[2018-11-18 22:56] replomancer commented on #142
@PEZ With one extra entry in your map you can already have the desired behavior:
[code]
When you think about it,  preserving whitespaces doesn't go well together with fixing indentation (`:indentation?` is `true` by default). I think setting `:remove-surrounding-whitespace?` to `false` should automatically set  `:indentation?` to `false`. I see no broken tests when I update options this way in `re

[2018-11-19 17:54] PEZ commented on #142
Unless I misunderstand something adding `:indentation false` would result in:

[code]

Meaning that the use case I posted about in the start of this issue would be made impossible if indentation were to be automatically switched off if used together with `:remove-surrounding-whitespace? false`. After all, indentation is what I am using `cljfmt` for in that use case.

[2018-11-19 22:20] PEZ commented on #125
Is there any workaround for this problem? It is biting [Calva Formatter](/BetterThanTomorrow/calva-fmt) as well. This issue seems to be related: rundis/rewrite-cljs#14

[2018-11-19 23:23] PEZ commented on #125
In Calva Formatter it is `rewrite-cljs` that is in play, btw.

I have now tried to update the dependencies of `rewrite-cljs` to use `[org.clojure/tools.reader "1.3.2"]` and then made a version of `cljfmt` using my patched `rewrite-cljs` and I still get a very similar result to what @olecve got. Stack trace below. Not sure what to make of it. `tools.reader` shouldn't have a problem with this still,

[2018-11-21 09:27] replomancer opened #148 "By default lein cljfmt check/fix ignores project.clj"
Default paths are currently ["src" "test"]. Do you think adding "project.clj" makes sense?

[2018-11-21 09:46] weavejester commented on #148
I don't see why not. It *is* a Clojure file.

[2018-11-21 09:57] #141 closed

[2018-11-21 12:21] PEZ commented on #125
@replomancer: Now that you are getting warmed up on this codebase. :smile: Maybe you can help investigate this mystery? It will probably bring you over to `rewrite-cli(s)` as well, and possibly beyond, but anyway, we need more clues!

I am surprised we don't hear about this issue from more people. Is this syntax that rare out there?

[2018-11-21 15:10] replomancer commented on #125
I can't promise anything, but I'll take a look later.

[2018-11-22 14:40] philomates commented on #106
I'm also encountering some issues with namespaced keywords
Running cljfmt on this code:
[code]
results in the `::result/foo` getting turned into `:result/foo` (without the double `:`)
[code]

I'm on `cljfmt 0.6.1`

[2018-11-22 20:15] PEZ commented on #142
This is wonderful!

![142](https://user-images.githubusercontent.com/30010/48920835-97dd3b80-ee9b-11e8-9c3e-729aa0f34efb.gif)

[2018-11-22 20:34] lread commented on #112
If I'm understanding things correctrly, the first comment moves due to `:remove-surrounding-whitespace?` being `true`. The rest of the comments remain untouched. I'm wondering what the expected behavior is here.

I agree that the closing `})` is a dupe of #111 and probably also #82.

[2018-11-22 20:38] lread commented on #111
This is a slight variation on #82 in that the comment line is the only line in the indent block.

[2018-11-22 20:42] #148 closed

[2018-11-23 20:45] lread commented on #112
If we look at conventions, we use [two semicolons for code fragments](https://github.com/bbatsov/clojure-style-guide#two-semicolons-for-code-fragment).  So the double semicolon comment lines should align with the fragment.

[Triple semicolons are are for top level items](https://github.com/bbatsov/clojure-style-guide#three-semicolons-for-top-level-comments)  and really should not be in code, so th

[2018-11-26 17:23] lread opened #151 "Consider updating README to expand on goals of cljfmt"
I think the README is succinct and well written but newcomers might benefit if it included a bit more detail on cljfmt goals and non-goals.  If I understand correctly (which I might not), I was thinking something along the lines of:

[2018-11-29 16:27] PEZ opened #152 "Some ”empty” forms get inconsistent formatting when keeping surrounding whitespace"
When indenting and keeping surrounding whitespace some forms, like `comment` and `let` get the wrong formatting if they are ”empty” and have newlines. Like this:

[code]

I.e. the closing paren is aligned with the first argument of the form. Which is not how let is fomatted otherwise. It should have two space indents for the code below the bindings box.

For empty `comment` forms it is that the cl

[2018-12-01 21:59] PEZ commented on #152
I wonder if this could have been introduced by #143? What do you think, @pfeodrippe ?

[2018-12-02 11:46] pfeodrippe commented on #152
I'm going check this today, @PEZ, thanks!

Let's write a test for this and anything else you and other users can think worth it and that's not covered by the actual tests, do you have more use cases for `clj-fmt` that are not tested?

[2018-12-02 19:34] PEZ commented on #152
I suspect there are some uncovered cases with keeping existing whitespace, because I think most often `cljfmt` is used in a way that whitespace is removed. But this is the only case that I have observed a misbehaviour like this, apart from the ones you just fixed. I tried an older version of `cljfmt` and could see that it was not #143 that introduced this issue, btw.

[2018-12-08 12:34] PEZ opened #154 "Is it possible to configure cljfmt to support Tonsky's formatting suggestions?"
I have been trying to figure out what `:indent` rules would make `cljfmt` to format according to [Tonsky's Better Clojure Formatting](http://tonsky.me/blog/clojurefmt/) suggestions. But all my attempts fail in different ways. Is it even possible, or does it require a change in the code?

[2018-12-08 17:08] PEZ commented on #154
Specifically I would think `:indents ^:replace {#"^\w" [[:inner 0]]}` should work, but it seems to make all lists indent two spaces:
[code]
Which messes things up for Parinfer.

[2018-12-08 17:15] #145 closed

[2018-12-08 18:18] lread commented on #112
@weavejester, when you have a moment, what do you think?

[2018-12-08 18:31] #82 closed

[2018-12-08 21:03] weavejester commented on #154
That *should* work. I'm curious to know why it doesn't.

[2018-12-08 23:11] lread commented on #111
At the time of this writing example 1 still behaves as reported but example 2 now behaves the same as example 1.  This currently seems to be an issue with indent blocks with no code in them.

[2018-12-08 23:21] lread commented on #152
Hi guys, if we fix this one, I think the current symptoms of #111 will also be addressed.
Shall I take a stab at it @pfeodrippe? Or are you into it already?

[2018-12-09 11:48] PEZ commented on #154
Here is how I tested it:

[code]

(With or without the `^:replace` hint makes no difference for this test.)

[2018-12-09 15:12] lread commented on #112
Thanks @weavejester, I think I'll wait to see if there is interest from others before working on this then.  Given [this guidance](https://github.com/bbatsov/clojure-style-guide#two-semicolons-for-code-fragment) I thought the double semicolon might be a good candidate for indenting by default, but maybe its usage as a code fragment comment is not as idiomatic as we'd like?

By the way, I'm using [

[2018-12-09 15:55] #151 closed

[2018-12-09 22:44] lread commented on #144
I can look at this one.

Given that I fix up the mis-formatting, I suppose `:remove-consecutive-blank-lines?` should transform multiple blank lines at the end of a file to a single newline.

For consistency, we might also consider what to do with blank lines at the top of a file, but I'll leave that out of scope for this issue.

[2018-12-09 22:56] simon-katz commented on #144
Perhaps, as you say, `:remove-consecutive-blank-lines?` should imply removing trailing blank lines, but it would be good if there were a way to remove trailing blank lines and leave other blank lines unchanged.

[2018-12-09 23:01] lread commented on #144
Hmmm, I like that.  It allows me to fix the formatting only for this issue.  Someone, if it is important to them, can raise a separate issue on how to deal with blank lines at the end of (and maybe beginning of) a file.

[2018-12-10 11:33] #144 closed

[2018-12-10 11:34] #111 closed

[2018-12-10 11:34] #152 closed

[2018-12-10 15:57] lread commented on #125
Looks like clj-rewrite has [yet to add support for self-namespaced maps](https://github.com/xsc/rewrite-clj/pull/66).

I'll add tests for  keyword-namespaced maps and alias-namespaced maps which seem to work fine.

[2018-12-10 21:07] PEZ commented on #154
I started to suspect it could be a ClojureScript, or even a `shadow-cljs` thing, but it is the same in Clojure.

[2018-12-12 13:52] PEZ opened #159 "cond clauses formats differently when incomplete than when complete"
These two should be indented the same (and like the second one):

[code]

But they get indented as shown. Here's a repro:

[code]

Not sure if this was introduced by #156, but it seems related at least.

[2018-12-13 14:20] mseddon commented on #159
https://github.com/weavejester/cljfmt/blob/master/cljfmt/src/cljfmt/core.cljc#L250 disabling this test in #156 definitely fixes this issue,  but of course, reintroduces #156...

[2018-12-13 16:47] #159 closed

[2018-12-14 19:46] #73 closed

[2018-12-14 21:17] lread commented on #125
After that I'll swing over to [rewrite-cljs and have a peek](https://github.com/rundis/rewrite-cljs/issues/14).

[2018-12-15 00:32] lread commented on #112
@simon-katz that seems like a well thought out and reasonable approach to me.

[2018-12-15 00:52] #131 closed

[2018-12-15 00:59] weavejester commented on #120
I actually don't mind the idea of splitting up long lines. The Clojure style guide recommends that lines don't exceed 80 characters, and that's my own preference as well. It would be nice if cljfmt had an (optional) mechanism for splitting up lines over 80 characters in an idiomatic way.

[2018-12-16 11:05] PEZ opened #161 "Line separator changed from CRLF to LF when formatting text"
If I feed `(reformat-string) with a text where lines are separated the Windows way, CRLF, it gives me back a text where the lines are separated the Unix way, LF. That is not y design, right? I can attempt fix it in a PR, but need some guidance.

The second of these assertions fail on my machine, a Mac. As the issues list has nothing open on this I am suspecting it is not an issue on Windows machin

[2018-12-16 12:34] weavejester commented on #161
You can use `wrap-normalize-newlines` for this, e.g.

[code]

[2018-12-16 14:15] PEZ commented on #161
Ah, thanks!

That means the behavior I see is expected?

[2018-12-16 14:35] weavejester commented on #161
Yes, though I might combine `reformat-string` with `wrap-normalize-newlines`, or possibly move `wrap-normalize-newlines` into `cljfmt.platform` or something like that.

[2018-12-16 17:13] PEZ commented on #161
OK. I can't quite figure out how to pass my config map to `reformat-string` this way. Doing:

[code]
seems to reformat w/o my config. Doing:

[code]
Seems to honor some of my config, but not others. (At least I get different results, and fewer of my tests break.)

I guess it's because I am Clojure (and functional) noob that I am missing something obvious with the API.

Anyway, in my usage I know t

[2018-12-16 18:14] weavejester commented on #161
[code]

[2018-12-16 22:54] #161 closed

[2018-12-17 18:18] lread commented on #125
I've [got a pull request up at rewrite-clj](https://github.com/xsc/rewrite-clj/pull/71).  After it is deemed good and sound, I'll take a stab at adding same support to rewrite-cljs.

[2018-12-19 23:20] vemv commented on #102
After https://github.com/weavejester/cljfmt/pull/123 , it's fairly trivial to build a custom watcher with gluing Hawk with the `cljfmt.main` ns.

[2018-12-19 23:20] #102 closed

[2018-12-19 23:22] vemv commented on #110
This issue might be considered solved after https://github.com/weavejester/cljfmt/pull/123 which adds a tools.cli wrapper and makes the underlying code generally available

[2019-01-17 09:21] vemv commented on #108
Issue looks good to close given https://github.com/weavejester/cljfmt/pull/109 is merged?

[2019-01-17 09:40] vemv commented on #73
Can we have a release with this fix please?

Thanks - Victor

[2019-01-17 10:11] vemv opened #162 "Make fuzzy def rule smarter"
https://github.com/weavejester/cljfmt/blob/a4bf76174b8c43d18abcedec9072ef42f27cd423/cljfmt/resources/cljfmt/indents/fuzzy.clj

`"^def"` will match things like `default-translation-function` which aren't "defs", ruining indentation.

I propose placing a small blacklist of widely used words starting with `def` which aren't definitions, e.g. `[default defer deflate]`.

They could either be inlined in

[2019-01-17 14:36] weavejester commented on #162
That's not a bad idea. They should be inlined into the regex, if possible.

[2019-01-17 16:19] weavejester commented on #73
Released 0.6.4.

[2019-01-17 16:20] #108 closed

[2019-02-01 16:15] ProjectFrank commented on #154
A new release was recently cut that incorporates a fix to inner indentation with an index: https://github.com/ProjectFrank/cljfmt/commit/f0ab087be527b94082e0ac335d19474e46860f73

Can you try again using `0.6.4`?

[2019-02-09 17:33] #162 closed

[2019-03-06 19:08] artemabalmasov opened #165 "Exception on a big(relatevly) project"
Couldn't find anything similar.
On one of our projects, cljfmt ran perfectly, but not on our main (40 namespaces) repo:
Would be great if you could advice on how to fix it
`lein cljfmt
clojure.lang.Compiler$CompilerException: java.lang.RuntimeException: No such var: cli/parse-opts, compiling:(cljfmt/main.clj:195:23)
 at clojure.lang.Compiler.analyze (Compiler.java:6688)
    clojure.lang.Compiler.a

[2019-03-06 19:13] artemabalmasov commented on #165
we are using 1.8 clojure

[2019-03-06 20:17] danielcompton commented on #165
What version of tools.cli do you have in your project (either directly, or indirectly)? You can see it with `lein deps :tree`. It looks like you might have a version before 0.3.0 which is when `cli/parse-opts` was added.

[2019-03-06 23:17] artemabalmasov commented on #165
Indeed, we use:

 [org.clojure/tools.namespace "0.2.11" :scope "test"]
 [org.clojure/tools.nrepl "0.2.12" :exclusions [[org.clojure/clojure]]]

Let me try update it tomorrow. Thank you for the fast response, wouldn't
ever quessed that!

On Wed, Mar 6, 2019 at 3:17 PM Daniel Compton <notifications@github.com>
wrote:

[2019-03-07 07:52] vemv commented on #112
While I don't dislike @simon-katz's proposal (it's well-aligned with the Clojure Style Guide), personally I've observed that relatively few people actually use a hierarchy of comments.

More typically either `;` or `;;` is chosen (depending on the author's editor), and they are used invariably. Also things like ns docstrings play the role that `;;;` supposedly does.

Also comments of such users (i

[2019-03-11 14:31] #165 closed

[2019-03-13 21:53] ProjectFrank commented on #154
@PEZ any updates on whether this has been fixed?

[2019-03-14 11:13] PEZ commented on #154
@ProjectFrank , I am sorry, I have forgotten to test this. I will merge it onto my fork and let you know what happens, this weekend.

[2019-03-18 15:41] lread commented on #36
I'm plugging away at this one (some discussion in #77) but have taken a pause to see if I can update rewrite-cljs to include rewrite-clj support I'd like to use to support my change.

Another good use case for alignment I just noticed is the `args` of the [`clojure.test/are` macro](https://clojure.github.io/clojure/clojure.test-api.html#clojure.test/are).

[2019-03-19 08:12] PEZ commented on #154
Yes! I'd say that this is now fixed. Many thanks!

Calva with tonsky-option is soon coming out... :smile:

[2019-03-19 08:13] #154 closed

[2019-03-23 04:36] vemv opened #166 "Qualifed indent specs are not applied in the referred namespace itself"
Hi there,

I found an issue which is best explained with a suggested failing test (which I ran and indeed fails):

[code]

i.e., if `*ns*` is `thing.core`, then cljfmt should look for an unqualified `defthing` (in addition to the current behavior).

I can give a shot to a fix, but perhaps you have it easy. Let me know

Cheers - Victor

[2019-03-24 12:58] weavejester commented on #166
Yes, this seems like a good addition.

[2019-03-30 18:10] lread commented on #36
Other candidates for align might `cond` `case` and `condp` clauses.

[2019-04-24 12:08] #166 closed

[2019-04-26 11:53] yochannah commented on #120
Popping my head in to add support for this suggestion. Doing a lot of line-breaking by hand at the minute :)

[2019-05-15 13:10] vemv opened #168 "Add `let*`?"
`let` macroexpands to `let*`. `let*` doesn't appear to be a 'thing' (actual macro), but still it seems a good target to be indented.

Sometimes I include macroexpansions as part of the unit tests for some macros, and this `let*` would appear there. In those cases cljfmt would indent it badly, while Emacs wouldn't.

Sounds good to fix?

[2019-05-15 19:09] weavejester commented on #168
Yep, this is fine.

[2019-06-02 21:17] kawas44 commented on #154
Hello,

Issue was closed but it does not look like version ```0.6.4``` fixes the multy-arity defn.
[code]
My lein cljfmt configuration
[code]

[2019-06-12 10:44] vemv opened #170 "Bump rewrite-clj to 0.6.1?"
Would solve the following `:pedantic?` warn which otherwise I'm not sure I can solve (because both lines begin with `<my-project>`, i.e. I cannot add just `:exclusions`, since that would remove rewrite-clj altogether)

[code]

WDYT?

Thanks - Victor

[2019-06-13 20:49] weavejester commented on #170
You should be able to just include your own rewrite-clj dependency to solve the warning, but I can update.

[2019-06-13 20:53] vemv commented on #170
True! Realised a bit late.

might be desirable

[2019-07-06 15:56] naisk133 opened #171 "Fail to format code with ##Inf"
Hello,
I try using `cljfmt` on this code but it failed
[code]
**Project dependencies**
[code]
**Stacktraces**
[code]

[2019-08-02 07:10] mynomoto opened #172 "#154 doesn't look fixed"
Hello,

Issue has been closed but it does not look like version ```0.6.4``` fixes the multi-arity defn.
[code]
My lein cljfmt configuration
[code]

_Originally posted by @kawas44 in https://github.com/weavejester/cljfmt/issues/154#issuecomment-498066248_

I'm having the same problem, following instructions from #154 doesn't format multiarity defn correctly.

[2019-08-06 15:36] viebel opened #173 "extra lines with assoc"
The following `assoc` form is badly formatted according to cljfmt. And that seems like an error to be.

[code]

[code]

[2019-08-06 17:57] weavejester commented on #173
Can you give some more information about your setup? I can't reproduce your results.

[2019-08-07 07:48] kommen commented on #173
This issue depends on extra newlines at the end of the file.

It reproduces for me with this (note the 2 newlines at the end):
<img width="319" alt="Screenshot 2019-08-07 at 09 46 46" src="https://user-images.githubusercontent.com/258/62604424-58a32d80-b8f8-11e9-8aeb-de1ad6f69573.png">

Removing one of the newlines at the end, the code ends up being formatted correctly.

[2019-08-07 08:42] viebel commented on #173
I confirm what @kommen just wrote.

[2019-08-07 09:19] glenjamin opened #174 "leiningen plugin doesn't list subcommands via `help`"
The following is an except of my recent terminal session, before giving up and googling.

[code]

I'll come back and look at adding a PR at some point - I'm having a yak shaving kind of day.

[2019-09-23 21:50] #170 closed

[2019-09-23 21:58] vemv opened #176 "Format ns-qualified maps?"
Hi there,

cljfmt doesn't appear to format ns-qualified maps:

[code]

...this has the specific impact (at least as my coworker reports) that Cursive's Parinfer can stop working properly if there's any whitepsace between the qualifer and the map.

Is this something you have tried working on at some point? (Asking because it might be hard to fix)

Thanks - V

[2019-09-23 22:07] weavejester commented on #176
If someone wants to send me a PR to add a feature then I'll certainly review and (eventually!) merge it in. But I have to many other projects to devote much time to cljfmt myself.

[2019-10-09 21:42] samwagg opened #177 "Allow specification of default paths in project.clj"
I have a project where I want to check the format of edn files that aren't in `:source-paths` or `:test-paths`. I don't want developers to have to remember which paths to include as command-line params. I also don't want to define a lein alias, because I want people who are familiar with `cljfmt` to just use it the way they're used to.

If this feature makes sense to you, I'm happy to open a PR. I

[2019-10-10 11:59] weavejester commented on #177
This seems fine. I'd rather a new key be added to the `:cljfmt` map, perhaps just `:paths`.

[2019-10-29 13:34] pfeodrippe opened #178 "Ignore shebang"
Hi,It's more a question, I am making a script with babashka and trying to use cljfmt, there is any way to simple ignore some lines (example, the shebang at start of the file)?

[2019-11-12 19:29] anyayunli commented on #173
I also confirmed what @kommen just wrote.

[2019-11-23 02:06] weavejester commented on #177
Fixed by #180.

[2019-11-23 02:06] #177 closed

[2019-11-28 09:41] rborer opened #181 "Slower than usual with 100% CPU since 0.6.5"
Hi,

I have multiple projects where version 0.6.4 worked perfectly fine and since I switched to version 0.6.5 (and 0.6.6), the process is taking much more time to format the code while the CPU is at 100%.

On one of my project here is the time difference:
- 0.6.4: `16.42s user 0.41s system 111% cpu 15.037 total`
- 0.6.6: `358.01s user 1.01s system 102% cpu 5:50.29 total`

Here is a stacktrace when

[2019-12-02 11:00] weavejester commented on #181
Can you provide some code that demonstrates this issue?

[2019-12-02 11:07] rborer commented on #181
@weavejester unfortunately no as the code where it happens is private :cry:

[2019-12-02 11:17] rborer commented on #181
@weavejester actually I can exhibit the same behaviour on aleph.

So you can checkout this branch https://github.com/rborer/aleph/tree/standard-cljfmt which uses 0.6.4. Bumping 0.6.6 into `project.clj` makes it painfully slow to indent the whole codebase:

On 0.6.4: `lein cljfmt fix  8.83s user 0.34s system 120% cpu 7.573 total`

While on 0.6.6 I have: `lein cljfmt fix  115.12s user 0.58s system 1

[2019-12-03 21:50] lread opened #182 "Provide more details on identation rules in README"
Don't get me wrong, cljfmt is great, but every time I come back to it, I end up scratching my head when reading over how indentation rules work in the README. I expect I am not the only one who gets confused?

1. I find the concept of `:inner` and `:block` straightforward but it often takes me a while to figure out what their arguments actually mean.  So a little more hand-holding there would be n

[2019-12-04 23:25] bitti commented on #181
I've the same problem: >3 Min 100% CPU on a current MacBook pro and a 4.5k line clj file.

[2019-12-09 21:51] weavejester commented on #172
I don't understand the problem. You've specified a constant indent of 2 spaces, and your diff shows a constant indent of 2 spaces. Am I missing something here?

[2019-12-09 22:39] mynomoto commented on #172
The expression `[x]` that is the first element of the list doesn't match the regular expression and from my understanding it should have being indented with only 1 space. Please let me know if I did understand that wrong. Thanks!

[2019-12-10 00:13] weavejester commented on #172
Ah, I see what you mean. Yes, you're correct. I've investigated and I discovered that cljfmt's indentation rules were getting confused around `[x]` and matching the rule against on `(str false)`. The fix was just to add in a missing `symbol?` check to filter out non-symbols from being matched against the indentation rules.

[2019-12-10 00:15] #172 closed

[2019-12-20 02:15] #182 closed

[2019-12-20 02:18] #93 closed

[2020-02-17 21:39] #181 closed

[2020-02-20 13:12] rborer commented on #181
Any plan to have it released soon so I can confirm the fix is working on my side? Thanks.

[2020-03-03 13:27] mynomoto opened #189 "Could we have a new release?"
The latest commit on master fixes a performance regression and would be nice to have a release with that. Thanks!

[2020-03-03 13:34] mynomoto opened #190 "Can't use all indent configuration options via tools.deps"
First, thanks for supporting tools.deps as an option to run cljfmt.

I was trying to migrate cljfmt from using the lein plugin to tools.deps on one project but since the indents file is parsed as edn it doesn't support regexes.
[code]
Would a change to allow regexes be welcome?

[2020-03-04 10:06] weavejester commented on #189
Done. Apologies for the delay; I thought I had already released 0.6.7.

[2020-03-04 10:06] #189 closed

[2020-03-13 09:27] hoxu commented on #190
I guess it's not possible to configure this example using edn currently:

    {:indents ^:replace {#".*" [[:inner 0]]}

[2020-03-13 14:26] mynomoto commented on #190
Yeah, sorry for not providing a example when I opened the issue.

[2020-03-18 16:16] achikin opened #191 "Two lines between top level definitions"
We use codestyle with two lines between top level definitions like this
[code]
Can I set this up in cljfmt?

[2020-03-18 16:32] weavejester commented on #191
cljfmt has `:remove-consecutive-blank-lines?` as an option, but doesn't currently have an option to mandate a blank line between top level forms. PRs are welcome.

[2020-03-18 16:32] weavejester commented on #191
cljfmt has `:remove-consecutive-blank-lines?` as an option, but doesn't currently have an option to mandate a blank line between top level forms. PRs are welcome.

[2020-03-18 17:24] #191 closed

[2020-03-18 22:55] rgm opened #192 "Need a blank project.clj to use tools.deps version?"
Apologies if this is me doing something not quite right in my projects, but, well:

Steps:
1. Add `cljfmt {:mvn/version "0.6.7"}` to `deps.edn`
2. Run `clojure -m cljfmt.main check` in a project that has a `deps.edn` file but no `project.clj`

Expected:
The linter should run.

Actual:
shell reports `No such file: project.clj`

Notes:
Doing `touch project.clj` to get a completely blank Lein project

[2020-03-18 23:09] weavejester commented on #192
This looks like a bug. PRs to fix it are welcome.

[2020-03-18 23:11] rgm commented on #192
OK, I'll dig in 👍.

[2020-03-26 17:42] conan commented on #106
Has anyone found a way around this? It broadly seems to make it impossible to format files in a codebase that uses namespaced keywords.

[2020-04-16 04:23] sushovannits opened #194 "Dependency issue with protobuf"
Thanks for the library.
I am trying to use in a project which has dependency on:

        com.google.protobuf/protobuf-java           {:mvn/version "3.11.4"}
        com.google.protobuf/protobuf-java-util      {:mvn/version "3.11.4"}
Including lein-cljfmt is resulting in the below error. Any idea

[code]

[2020-04-16 12:17] sushovannits commented on #194
Turns out this exclusion helps it run:
:exclusions [rewrite-cljs/rewrite-cljs]

[2020-04-16 15:53] weavejester commented on #194
I'm not sure if there's an equivalent under tools.deps, but under Leiningen you can run `lein deps :tree` in order to see conflicting dependencies.

[2020-04-16 15:53] #194 closed

[2020-05-15 14:18] #192 closed

[2020-05-20 05:45] hoxu commented on #190
@weavejester @mynomoto: any workarounds or ideas how to fix this?

[2020-05-26 20:13] mynomoto commented on #190
So far I'm still using lein to avoid the issue. I think you can build your own function to read a clj file, I just wanted feature parity out of the box.

[2020-06-25 01:01] weavejester commented on #190
Sorry for the late response. Perhaps the best solution to this would be to allow `--indents` to reference a `.clj` file as well as a `.edn` file, and use the appropriate `read-string` depending on the file extension.

[2020-06-29 06:23] djblue opened #198 "Could we have a new release?"
The latest commit on master allows for use of cljfmt in deps.edn based projects. Thanks!

[2020-06-30 16:14] weavejester commented on #198
Release 0.6.8.

[2020-06-30 16:14] #198 closed

[2020-07-01 08:01] jngbng commented on #198
Please release for lein based project, too. Thanks!
Currently, 0.6.7 is the latest: https://repo.clojars.org/lein-cljfmt/lein-cljfmt/maven-metadata.xml

[2020-07-01 15:28] weavejester commented on #198
That's odd... it must not have uploaded. It should be up now.

[2020-07-15 19:32] mynomoto commented on #190
This would be a nice solution. Would a pr be welcome?

[2020-07-15 19:53] weavejester commented on #190
Yep.

[2020-08-01 01:53] maacl opened #199 "cljfmt blows up on ##Inf"
Any attempt to format code containing ##Inf blows up with the below stack trace:

[code]

[2020-08-01 02:02] weavejester commented on #199
This will need to be fixed upstream in rewrite-clj.

[2020-08-01 08:00] maacl commented on #199
OK, should I report it or do you want to do it? I am happy to.

[2020-08-01 11:33] lread commented on #199
Hi @maacl, rewrite-clj is no longer maintained, I am working on [rewrite-cljc](https://github.com/lread/rewrite-cljc-playground) which includes a fix for this problem.

[2020-08-01 12:23] maacl commented on #199
OK, cool. Let me know if there is anything I can test to help out.

[2020-08-02 18:26] lread opened #200 "Is it true that cljfmt can't compute alias map when used as a CLJS library?"
I'm currently reviewing aspects of namespace handling for rewrite-cljc and came to cljfmt to review how it handles namespaces.

Under docs for `alias-map` we have:

After reviewing the code, I might be missing something or maybe I have a blind spot, but I'm not sure why cljfmt would not be able to parse out alias maps from a ns declaration when used as a CLJS library.  Is that maybe a historical,

[2020-08-02 19:03] weavejester commented on #200
PR #109 has an explanation. At the time, rewrite-cljs didn't have the capabilities required. That may have changed, but I haven't checked.

[2020-08-03 17:47] lread commented on #200
Oh that's a wonderful PR description, thanks @weavejester (and @MatthewDarling).  It states that the limitation is due to the current version of rewrite-cljs not being able to handle namespaced keywords #106 as evidenced [here](https://github.com/clj-commons/rewrite-cljs/blob/bf28c99f8d154baba64a2ba4acb1a1541f74ef68/src/rewrite_clj/node/keyword.cljs#L16).

I am (oh so slowly) creating a successor

[2020-08-03 18:50] weavejester commented on #200
Yep, I'm fine with leaving it open.

[2020-08-09 09:46] cksharma11 opened #201 "Default formatting not aligning let blocks statements vertically"
I want to format my code something like below

from this
[code]
to this
[code]

But when I'm doing `lein cljfmt check` it's not giving any error for the same.

[2020-08-09 11:31] weavejester commented on #201
cljfmt does not yet support this feature. PRs are welcome.

[2020-08-09 11:32] weavejester commented on #199
Marked as duplicate of #171.

[2020-08-09 11:32] #199 closed

[2020-08-09 11:32] #125 closed

[2020-08-09 11:33] weavejester commented on #201
Closing because this is a duplicate of #36.

[2020-08-09 11:33] #201 closed

[2020-08-29 12:29] narkisr opened #204 "Nested keyword issue"
Running lein cljfmt check on the following function:

[code]
Results with:

[code]

This is valid Clojure syntax :)

[2020-08-29 14:02] lread commented on #204
Hi @narkisr,

From [Clojure docs](https://clojure.org/reference/reader#_reader_forms):

So your keyword is not technically legal in Clojure.  Does [re-ops/re-core](https://github.com/re-ops/re-core) encourage or force this illegal syntax?

[2020-08-29 14:33] narkisr commented on #204
It is legal in the sense that this code is running and I'm able to access map values using this key, these keys describe the flattening of nest maps into a single level map.

BTW I'm not the first one who played with this idea https://clojuredocs.org/clojure.core/keyword#example-5c4c9096e4b0ca44402ef63d

[2020-08-29 14:51] narkisr commented on #204
Any case ill close this issue since I have a workaround I can use, thank for the help

[2020-08-29 14:51] #204 closed

[2020-09-08 07:42] rborer opened #206 "Clojure dependency mismatch (1.8.0 VS 1.10.0)"
Hi,

Looks like there is a conflict in the version of Clojure when using `lein-cljfmt` plugin. If I enable `:pedantic? :abort` on my project I have the following error:

[code]

[2020-10-23 12:23] rborer commented on #206
Thanks for your reply & sorry for the sparse issue. While it makes inclusion of `lein-cljfmt` plugin more complex in projects where `:pedantic? :abort` is defined, I'm also wondering if this could end up with weird runtime issues if `rewrite-cljs` uses Clojure functions added in 1.9 or 1.10 :thinking: ? I feel this would be safer if both relied on the same Clojure version.

[2020-10-23 14:33] weavejester commented on #206
If any functions were used that didn't exist, the ClojureScript wouldn't compile. Also, does `:pedantic? :abort` do that even if you've specified an explicit Clojure version in your project?

[2020-10-23 15:06] rborer commented on #206
Yes Clojure version is explicit in my project.

Here is a sample `project.clj` which exhibit this error

[code]

Somehow leiningen treats differently plugins dependencies. I'm wondering if it should discard the `:pedantic?` setting?

[2020-10-26 17:02] MicahElliott opened #207 "Support form feed/page-break/Ctrl-L"
Then we could do things like what's shown in the screenshot here: https://github.com/purcell/page-break-lines

[2020-12-15 15:19] mracos opened #208 "lein cljfmt does not supports cli arguments"
Looks like it's because the cljfmt `lein-plugin` [interprets every argument](https://github.com/weavejester/cljfmt/blob/master/lein-cljfmt/src/leiningen/cljfmt.clj#L23) after the command as a path to check

[2020-12-15 15:23] weavejester commented on #208
Yes, because typically in Leiningen you use profiles and `update-in` instead to affect configuration options.

[2020-12-15 15:26] mracos commented on #208
Thanks for the quick response 💙
I see I see, you would not happen to have an example up on your sleeve would ya? 👀

[2020-12-15 15:32] weavejester commented on #208
An example of Leiningen profiles, or update-in?

[2020-12-15 15:37] mracos commented on #208
Sorry for the lack of context, tried to add more info in the comment above.
An example on how could I use `update-in` to use a custom indents file, if you could please!

[2020-12-15 15:40] mracos commented on #208
The only that I got working was by defining a `cljfmt` alias to mimic the lein plugin call but using my custom indents file. e.g.

[code]

[2020-12-15 15:45] weavejester commented on #208
Ah, so with context, I think you want something like:

[code]

The `~` in a Leiningen project file will trigger an evaluation.

[2020-12-15 15:56] mracos commented on #208
TIL about the `~`. Well then, thank you so much for your help! 💙
Sorry for opening an issue that's not really an issue 😄

[2020-12-15 15:56] #208 closed

[2020-12-29 09:42] NickeZ opened #209 "strange lint suggestion?"
Hello,

I've got my minimal reproducible example to:

[code]

here it suggests

[code]

which seems wrong to me. Is this the intended behavior? I would like to have my comment tightly coupled to the line after.

[2021-03-06 15:26] borkdude opened #210 "Workaround for clojure.stacktrace no longer needed for native-image"
This was fixed in Clojure 1.10.2.

https://github.com/weavejester/cljfmt/blob/e75c430dab52c766828007a1ed32089419370134/cljfmt/src/cljfmt/impl/stacktrace.clj#L17

[2021-03-15 18:24] lread opened #211 "Consider upgrading to rewrite-clj v1"
I've recently released [rewrite-clj v1](https://github.com/clj-commons/rewrite-clj/blob/main/CHANGELOG.adoc#rewrite-clj-v1).

Even though it is labelled, alpha, it is feeling solid.
I am already [successfully running cljfmt's tests against rewrite-clj v1](https://github.com/clj-commons/rewrite-clj/blob/main/doc/02-developer-guide.adoc#libs-test).

Upgrading to rewrite-clj v1 should fix many cljfmt

[2021-03-15 23:06] lread commented on #211
For ClojureScript testing, here is what I have done so far.

From my development computer:

- Late 2013 iMac
- 3.5 GHz Quad-Core Intel Core i7
- 32 GB or RAM

Created a primitive benchmark in `bench.cljs`
[code]
Compiled and ran for `node` with no optimizations against rewrite-cljs then rewrite-clj v1:
- rewrite-cljs
  - 100 runs, 70967 msecs
- rewrite-clj v1
  - 100 runs, 85576 msecs

Which means

[2021-03-15 23:31] lread commented on #176
@vemv, I think I might have started on this a long while ago [but abandoned my effort](https://github.com/weavejester/cljfmt/pull/158). I can take up the cause again if/after we [upgrade to rewrite-clj v1](https://github.com/weavejester/cljfmt/issues/211).

[2021-03-15 23:32] lread commented on #171
This should be fixed after an [upgrade to rewrite-clj v1](https://github.com/weavejester/cljfmt/issues/211).

[2021-03-15 23:35] lread commented on #106
This should be fixed by an [upgrade to rewrite-clj v1](https://github.com/weavejester/cljfmt/issues/211).

[2021-03-15 23:40] lread commented on #49
@bbatsov's referenced [spec is now here](https://docs.cider.mx/cider/indent_spec.html).

[2021-03-15 23:43] lread commented on #36
I can take a crack at this one again after an [upgrade to rewrite-clj v1](https://github.com/weavejester/cljfmt/issues/211).

[2021-03-15 23:44] vemv commented on #211
Given that cljfmt offers both a native image, and a JVM API that can bypass Lein and be safely invoked in parallel, perhaps performant-conscious cljfmt is fast enough that a 20% slowdown is not quite impactful.

It is also predictable that rewrite-clj will be further optimized over time :)

[2021-03-15 23:49] lread commented on #207
What is cljfmt doing now @MicahElliott?
Is it stripping the FF character?

[2021-03-15 23:51] lread commented on #190
@weavejester can this be closed?  Looks like a solution was merged?

[2021-03-16 07:34] weavejester commented on #190
Yep, this looks fixed.

[2021-03-16 07:34] #190 closed

[2021-03-16 07:36] weavejester commented on #211
I don't see those as blockers. We can update to rewrite-clj v1 and see what happens.

[2021-03-16 12:45] ericdallo commented on #211
It'd be nice to link cljfmt issues that would be fixed with this bump :)

[2021-03-16 12:57] ericdallo opened #212 "Support for range format"
Hello, on [clojure-lsp](https://clojure-lsp.github.io/clojure-lsp/), we use `cljfmt` as our format feature and it works well for most cases, thank you for your work!

There is [an issue](https://github.com/clojure-lsp/clojure-lsp/issues/266) though related to performance with huge buffers. The [LSP protocol]() allows two kind of format requests: [format the whole buffer](https://microsoft.github.i

[2021-03-16 13:36] weavejester commented on #212
I don't understand how your proposal is supposed to work. Can you explain further?

[2021-03-16 19:47] ericdallo commented on #212
Sorry for not be specific, I think my suggestion is missing the end range. You can see above an example where `|` means the start and end range selected by the editor:
[code]
clojure-lsp would call:
[code]
would result formatting only the selected range:
[code]

Does that makes sense?

[2021-03-16 21:42] lread commented on #211
@ericdallo  #106 and #171 will be fixed by switching to rewrite-clj v1.
I will review for other issues that might be fixed as part of the PR.

For me, the perhaps more exciting thing is that this will bring feature parity for usage of rewrite-clj from Clojure and ClojureScript making future changes easier.  For example, [I should be able to revert work-arounds like this](https://github.com/weaveje

[2021-03-16 22:31] weavejester commented on #212
Why is the `b` so far right after formatting? Even if you're just formatting a section, shouldn't it still be in line?

[2021-03-16 22:33] ericdallo commented on #212
hahaha, yes, sorry, GitHub indentation is weird, fixed!

[2021-03-17 08:43] weavejester commented on #212
If implemented, this should be a separate function, e.g. `reformat-region`. I also don't know how you'd format a region that is missing ending brackets or can't be parsed in isolation.

Have you considered pulling out just the current top level form, adding some unique markers to mark the start and end of the region, formatting and then snipping out the relevent area using the markers?

[2021-03-17 11:21] ericdallo commented on #212
That's how we do ATM, we format the whole top level form, but if we format only the parent form of the selected range, it will ignore the spacing

[2021-03-17 11:28] weavejester commented on #212
I don't understand what this means. Can you provide an example?

[2021-03-17 12:30] ericdallo commented on #212
Sure, so, as I said it [here](https://github.com/clojure-lsp/clojure-lsp/issues/266#issuecomment-774372852), If I format the code with the selected range between the `|`s:
[code]
I'd expect to be formatted as:
[code]

But when we call `(cljfmt/reformat-form c-node {})`, we get:
[code]
You can see that the spacing before `c` was ignored because cljfmt only knows about the c-form, so the spaces that

[2021-03-17 13:00] weavejester commented on #212
Okay. How do you envision this new `reformat-region` function to work? How are you going to take into account regions that cut off at syntax boundaries? If you're not going to look at the top level form, how are you going to get the indentation?

I'm also curious as to why formatting the top level form doesn't give you the performance you need. How large are the forms that you're having problems w

[2021-03-17 13:35] ericdallo commented on #212
For the regions that cut off at syntax boundaries, cljfmt could just get the parent form of the start line/col maybe?
If we send the whole text, cljfmt would know the indentation getting the parent/top form to know the indentation, right?

The [initial issue](https://github.com/emacs-lsp/lsp-mode/issues/2537#issuecomment-762843091) use simple forms, but I could not repro that, I can repro that on

[2021-03-17 13:41] ericdallo commented on #212
So, I just found that this could be a cljfmt/reformat-node issue, if I tell cljfmt to format [this whole file](https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/main.clj), it takes about `1096ms`, I think is expected as this buffer is kind of big.
But If a rangeFormat only [this code](https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/main.clj#L282-L328), i

[2021-03-17 17:55] weavejester commented on #212
That's fine, but the first step should be fixing the performance issue, as extra functions may be unnecessary if the existing functions are made to be performant.

[2021-03-18 18:05] lread commented on #210
@bsless, this was certainly needed when you added it, but that is no longer the case.
Shall we remove?
Does any other native-image support need to be updated?

[2021-03-18 18:35] lread commented on #209
Yeah that seems wrong @NickeZ.

Like you I would expect
[code]

To reformat to:
[code]

I can take a look at this after #213 is merged.

[2021-03-19 19:01] bsless commented on #210
I'll review my changes and see what can be removed

[2021-03-19 19:24] lread opened #214 "Support parsing of current-ns auto-resolve namespaced maps"
Due to limitations in rewrite-cljs and rewrite-clj v0, cljfmt throws when attempting to parse namespaced maps with a prefix that auto-resolves to the current namespace:

[code]

Upgrading to rewrite-clj v1 will resolve this issue.

[2021-03-19 19:28] lread opened #215 "Support parsing of garden style selectors"
The [garden](https://github.com/noprompt/garden) library employs a technically illegal keyword syntax.
For example:

[code]

Due to limitations in rewrite-cljs and rewrite-clj v0, cljfmt will throw when it tries to parse a garden style selector.

Upgrading to rewrite-clj v1 will resolve this issue.

[2021-03-22 08:30] #211 closed

[2021-03-22 08:30] #106 closed

[2021-03-22 08:30] #171 closed

[2021-03-22 08:30] #215 closed

[2021-03-22 08:30] #214 closed

[2021-03-22 23:02] lread commented on #209
@weavejester, I am thinking that it would be consistent to collapse consecutive blank lines between comments as well.

[code]

Would reformat to:
[code]

Would this be desirable behaviour?

[2021-03-23 16:40] lread commented on #209
@weavejester, while I'm looking at collapsing blank lines, I see that comma treatment might be a bit odd?

Do we consider a comma to be a blank line?  This, for example, does not collapse:
[code]
But... if we introduce enough blank lines before (and/or after) the comma (or commas):
[code]

then we do get a collapse (including the removal of the commas):

[code]

[2021-03-23 16:47] weavejester commented on #209
Collapsing multiple blank lines between comments seems fine. We could also probably treat lines with only commas as blank lines, or add an option to fix commas that are at the end or beginning of lines.

[2021-03-23 16:50] lread commented on #209
Thanks @weavejester, I shall make it so.

I'll start with this.  We can add a fix option at some later date if folks want/need it.

[2021-03-31 12:08] bsless opened #217 "#202 breaks native-image build"
Following the request in #210 I came to review my recent changes and found that native image building is broken.
Analysis:
Checked out commit `7571de0`, built a native-image with `lein do clean, native-image`, native image built successfully
Checked out commit `98a7c53`, built a native-image with `lein do clean, native-image`, native image build failed
Possible causes:
`read-string` calls unsuppor

[2021-03-31 12:10] borkdude commented on #217
@bsless Where does cljfmt use read-string and why?

[2021-03-31 12:16] bsless commented on #217
@borkdude here:
https://github.com/weavejester/cljfmt/blob/master/cljfmt/src/cljfmt/main.clj#L146
introduced in #202

[2021-03-31 12:18] borkdude commented on #217
@bsless I'm not sure if Clojure's `read-string` works in native-image, but worth a try by enabing `--report-unsupported-elements-at-runtime`. In babashka code is read by a custom reader that is in turn based on tools.reader.edn.

[2021-03-31 12:36] bsless commented on #217
@borkdude looks like the build works with `--report-unsupported-elements-at-runtime`. I checked binary against several projects, both check and fix commands work.
Can you think of a case which would break the reader in native image?

[2021-03-31 12:39] borkdude commented on #217
@bsless `read-string` might use the compiler when reading `#=(+ 1 2 3)`, maybe that's the only case? What kinds of things are read on that command line invocation?

[2021-03-31 12:43] bsless commented on #217
@borkdude `read-string` is used on the `slurp`ed contents of a `.clj` file. I tried engineering a case which even defines an anonymous function, didn't manage to break anything.
[code]

[2021-03-31 12:45] borkdude commented on #217
@bsless "defining" as in reading the s-expression, or actually creating one? (I suspect the first). How about `#=(+ 1 2 3)`? Not that that should be supported, but just fun to check what happens.

[2021-04-01 21:57] lread commented on #207
Without more detail I don't really understand this request, can we close @weavejester?

[2021-04-01 22:00] MicahElliott commented on #207
Oops. Yes, the page-break is rejected as being an extra (triple) newline (IIRC).

[2021-04-01 22:02] lread commented on #178
A new release of rewrite-clj that specifically understand `#!` is coming very soon.
I don't know if it is documented but `#!` is equivalent to `;`.

[code]

I'll come back and update cljfmt with the new version of rewrite-clj when it is released.

[2021-04-01 22:04] lread commented on #207
Thanks @MicahElliott, so you'd like FF to simply be retained as-is rather than be interpreted as a newline? (I've not done any testing, so I'm just guessing at current behaviour).

[2021-04-01 22:19] MicahElliott commented on #207
Correcto @lread . Thanks!!

So `\n\n\l\n` is accepted, but `\n\n\n` is still rejected.

[2021-04-01 22:20] lread commented on #92
@weavejester, I think this one can be closed.

[2021-04-01 22:25] lread commented on #207
@MicahElliott I'm sorry, I am feeling a bit dense here.

Can you clearly explain:
1. exactly what is happening now
2. exactly what would you like to happen instead and why

[2021-04-01 22:31] MicahElliott commented on #207
Input file:
[code]

[code]

I feel that this should be not flagged since there's really not a triple-newline present, though cljfmt thinks there is, because it's treating page-break as nothing (removing/ignoring it).

[2021-04-02 01:31] #92 closed

[2021-04-02 15:58] lread commented on #207
Thanks @MicahElliott, that helps. And you'd like to retain the FF because it is visually relevant to some tooling you are using.

[2021-04-02 16:05] lread commented on #49
@pez, @bbatsov et al, is there still interest for this?

I could explore, if there is interest.
I was thinking about finally getting back to #36 and suppose this could be related.  I suspect folks would choose some default for form alignment that they like but they'd want to override the default for specific forms via metadata.

[2021-04-02 16:23] vemv commented on #49
FWIW, I've used a cider->cjlfmt indent spec translation for the past two years without any noticeable issue

My approach is basically for a given symbol `'foo`, try to `resolve` it, and then grab the `meta` out of the resolved var.

This is both fast and accurate. Accuracy matters because it's possible that one is performing `alter-var-root!` to add indent specs.

Because 99% of things having an i

[2021-04-02 19:21] bbatsov commented on #49
@vemv I always had this as some form of translation - it would just be nice to have `cljfmt` pick up and convert the metadata indent specs automatically to its own format. Otherwise you often end up duplicating the same indentation rules.

[2021-04-03 19:14] #178 closed

[2021-04-04 16:22] pfeodrippe commented on #178
Thanks!!

[2021-04-06 14:08] bsless opened #221 "Indenting defrecord like CIDER"
Hello,
Is there a way to mimic CIDER's indentation of defrecord's arg vector using the existing configuration mechanism? I read the documentation and I'm not sure it's possible.
For comparison:
[code]

Thanks,
Ben

[2021-04-06 15:04] lread commented on #221
@bsless I don't currently have an answer for you but I think there is some related [discussion in this old issue](https://github.com/weavejester/cljfmt/issues/46#issuecomment-139301139).

[2021-04-06 15:19] bsless commented on #221
@lread Looks like it is indeed related. The "weird" behavior is specified [here](https://docs.cider.mx/cider/indent_spec.html)
clojure-mode lets the user tell the indentation mechanism some forms have N special form arguments.
Special forms then have a predefined indentation level.
Think something similar could be added as a feature?

[2021-04-06 21:25] MicahElliott commented on #207
Yes, basically exactly what's shown in this screenshot: https://github.com/purcell/page-break-lines#screenshot

The only workaround presently is to break sections with something like:
[code]

I don't know how many dashes are there because I just held down the button (like many do), and everyone does this differently and that's is a shame.

[2021-04-08 00:18] vinurs opened #222 "can't format comment"
have the code like this
[code]
but the comment line can not be formatted, it shows `All source files formatted correctly`

[2021-04-08 02:07] weavejester commented on #222
I'd be okay with a PR that makes formatting comments optional, though I don't think it should be the default. Comments aren't code, and shouldn't necessarily have the same indentation.

[2021-04-08 18:25] lread commented on #222
There is some good discussion on formatting comments in this existing issue: #112

[2021-04-09 12:27] vinurs commented on #112
is there any configuration for comment?

[2021-04-09 12:31] weavejester commented on #112
Not currently.

[2021-04-13 08:48] PEZ opened #223 "Formatting inside thread forms"
Hi, I want something like:

[code]

to be formatted as if the threaded param was in place:

[code]

In #45 we learn that `cljfmt` does not consider the outer forms when formatting a form. But there is also a suggestion to use a rule for `->` like forms to deal with it. What would such a rule look like?

[2021-04-13 12:25] weavejester commented on #223
I don't believe there's currently a way of doing this, unless you assume that `as->` will always be part of an outer thread, or you just have a blanket "always indent by 2" rule.

[2021-04-18 13:23] PEZ opened #224 "Warnings when I compile `master`"
Hello,

When I run `lein install` I get these warnings:

[code]

I also get errors trying to use this in my shadow-cljs build, but I'll file a separate issue about that, b/c yeah separate issue maybe. 😄

Ping @lread .

[2021-04-18 13:34] PEZ opened #225 "Errors using current (dd51b31) master from a shadow-cljs build"
Hello,

When I call `cljfmt-core/reformat-string` I get this:

[code]

Is it supposed to work from `master` right now?

Possibly related to #224

[2021-04-18 14:08] weavejester commented on #225
All the tests, both Clojure and ClojureScript, are working on master right now. If you can reproduce this error as a test, we can see about fixing it.

[2021-04-18 14:13] weavejester commented on #224
These warnings aren't caused by the cljfmt codebase, but in rewrite-clj, so I'll close this.

[2021-04-18 14:13] #224 closed

[2021-04-18 14:15] #217 closed

[2021-04-18 15:24] PEZ commented on #225
Indeed. The tests passes when I try it too. And they exercise `reformat-string`, so there must be something else going on. I'll see if I can reproduce it more minimally. I mainly wanted to check that it is supposed to work.

[2021-04-18 19:50] PEZ commented on #225
It turns out this was a dependency conflict with `zprint`, which of course also uses `rewrite-clj`. Sorry for the noise!

[2021-04-18 19:50] #225 closed

[2021-04-20 17:25] #210 closed

[2021-04-24 17:11] ericdallo opened #226 "reformat-form performance issues"
This is a separate issue regarding the performance issues mentioned on #212.

Context:
On [clojure-lsp](https://clojure-lsp.github.io/clojure-lsp/) we use cljfmt to 2 LSP features:
- format the whole buffer (using `reformat-form` with the buffer as string)
- format a range that can be triggered in multiple ways, like the user selecting a range and triggering format or the most common, using any pa

[2021-04-25 23:32] #209 closed

[2021-04-28 17:38] lread commented on #224
@PEZ, feel free to re-raise this one as-is over at [rewrite-clj](https://github.com/clj-commons/rewrite-clj) if you like.

I can see that the deprecation warnings would be annoying/confusing/misleading.

FWIW, I typically turn deprecation warnings off for cljs builds and instead rely on clj-kondo, which offers finer control over which deprecation warnings are raised.

[2021-05-01 20:17] lread commented on #226
Hi @ericdallo, I do realize you are compiling clojure-lsp to a binary executable with GraalVM's `native-image`, but I'll start exploring with regular JVM, namely AdoptOpenJDK v1.10.11 HotSpot.

I'm not sure the best way to approach this, but it seems sensible to first try to reproduce the performance issue you are encountering.

My dev box is an aging but capable late 2013 iMac, with 32gb of RAM a

[2021-05-01 20:24] ericdallo commented on #226
Thank you for the help on this!

Yes, it seems to be similar on how clojure-lsp calls it: https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/handlers.clj#L213

[2021-05-09 01:03] ludbek opened #228 "cljfmt fix does not work without project.clj"
It seems `cljfmt fix` does not work without `project.cj`.
When I ran `clojure -Sdeps '{:deps {cljfmt {:mvn/version "0.6.4"}}}'  -m cljfmt.main fix` I got following error

[code]

[2021-05-09 01:09] seancorfield commented on #228
The README has an old version for the CLI example (0.6.4) instead of the more recent version (0.7.0). The CLI example works as expected if you use 0.7.0 instead of 0.6.4.

[2021-05-09 01:16] ludbek commented on #228
Will create a pull request.

[2021-05-09 01:16] #228 closed

[2021-05-19 03:48] camsaul commented on #49
I have a working demo for this in #230. I pushed a working deps.edn demo to https://github.com/camsaul/cljfmt. You can try it locally with

[code]

I could use a little help with translating `:style/indent` specs to `cljfmt` specs from someone more familiar with both. Right now I have

[code]

which only handles a basic `:style/indent` specs (nothing fancy like `[1 [:defn]]` yet)

[2021-05-19 22:06] lread commented on #36
I spent some time today refreshing my brain on where I was at with this feature.

It looks like I got as far as handling maps and binding args.  When associative alignment is enabed, all maps are aligned and bindings args for forms with specific rules are also aligned. Cljfmt would include reasonable default alignment rules.

So @practicalli-john, this means my current strategy can handle `let` `l

[2021-05-20 02:47] ericdallo commented on #36
@lread IMO user should be able to choose what forms/macros will use this new feature, for example users that want that on most forms but not on require ones

[2021-05-20 13:02] lread commented on #36
Thanks for chiming in @ericdallo!
In my WIP, the current level of config is:
- alignment is on or off
- when on:
  - all maps are aligned
  - only forms that match specific rules are aligned
    - cljfmt will include default rules that the user can override

WIP config currently does NOT include:
- the ability to override/specify alignment inline.
I think this would be inspired by clj-kondo inline

[2021-05-20 14:15] timvisher commented on #36
Yeah! I dig that quite a bit. :)

[2021-05-21 14:34] lread commented on #36
Ok, my WIP now includes initial support for tabular alignment of argument subsets, to support forms like `cond`, `case`, `condp` etc.
Subset is currently always arg n to end of args.

Still don't have:
- inline overrides
- aligning of collections of like things (to support formatting of `require` `:require`, and to be used perhaps as an inline alignment for arbitrary collections of like things)

A

[2021-05-21 14:39] ericdallo commented on #36
I already saw some people referring to it as "vertical alignment", but your suggestion LGTM as well

[2021-05-21 15:00] lread commented on #36
Thanks, much appreciated! I was thinking that regular indentation can also, kind of, be a form of vertical alignment, and that tabular might be more descriptive?

[2021-05-21 15:13] lread opened #232 "Any interest in a clj-kondo config for cljfmt developers?"
Hi @weavejester, I don't know if you use the [clj-kondo](https://github.com/clj-kondo/clj-kondo) linter.
I do and find it quite helpful.
I include it in my build processes and fail builds that have lint errors.

If you are interested, I am happy to do the work.

[2021-05-21 15:55] practicalli-john commented on #36
Reviewing my code it seems alignment for hash-map and binding forms (defn, let and :require in an ns form) would cover 99% of all my coding.

Especially if a blank line separated groups of alignments

There are lots of other good ideas discussed here.  Thanks for working on this.

[2021-05-21 18:01] timvisher commented on #36
When I originally suggested this feature I had mostly associate forms in mind (except for that `ns` example… 🤔), hence the name. Now that we're talking about implementing `cond`, `case`, `condp`, etc. I think it makes less sense.

At the same time 'tabular alignment' or 'vertical alignment' doesn't feel self-documenting to me. Once I know what's being referred to then I feel like I would get why i

[2021-05-21 18:04] lread commented on #36
@timvisher yeah, I get what you mean by biases, my wee brain is glued on "tabular" now.

😄

[2021-05-21 18:07] lread commented on #36
@practicalli-john I too think this is a nice convention. I'll underline this one on my todo list.

[2021-05-22 04:31] weavejester commented on #232
I had a quick check over it, and it looks like a very useful tool to be used manually, but in the case of cljfmt in particular, it has too many false positives to be included in the build chain.

[2021-05-22 15:43] lread commented on #232
Thanks for taking a peek @weavejester.

Clj-kondo is highly configurable, so we could configure it to enforce whatever opinions are important to you.

Please ignore the remainder of this comment if you have already made up your mind and decided clj-kondo is not a good fit for clfjmt. Personally, I find the benefit of clj-kondo outweighs the cost of maintaining its config, but that's just me and mi

[2021-05-22 23:55] weavejester commented on #232
Yep, I read through the warnings. It was the false positives around the tests I was referring to. Warnings for unused namespaces are useful, but how would clj-kondo disguish between genuine unuse and libraries that scan the vars in a namespace?

[2021-05-23 02:14] lread commented on #232
Hey, thanks for continuing the discussion!

I really struggled to get the `reformats-to?` `assert-expr` working for both clj and cljs.
I remember settling on doing odd things like including unused nses.
It felt sloppy but I did not know what else to do at the time (you were asking questions but kindly let it go).
I'll take a stab at cleanup and see if I can get rid of the weirdnesses.

Regardless

[2021-05-23 08:53] PEZ commented on #36
Linking my input on how to treat ”groups” from another thread https://github.com/weavejester/cljfmt/pull/77#issuecomment-597494100

[2021-05-23 18:09] LuisThiamNye commented on #226
It appears to me that the main reason for the difference in time is that clojure-lsp's `range-formatting` function calls `cljfmt/reformat-form` for every top-level form. Each call adds up to a lot of time.

[2021-05-23 18:50] ericdallo commented on #226
Last time I tested, the issue was on cljfmt call, even if clojure-lsp call on every top-level, it should not be at least equal to cljfmt format the whole buffer string I think

[2021-05-24 04:16] LuisThiamNye commented on #226
Okay, I have done extensive testing and I believe the major culprit is cljfmt's `find-namespace` function, specifically this part: `(z/find z/next ns-form?)`. The performance improvement of making this function a stub is dramatic.

[code]

This code appears to search the zipper for the ns form to get the name of the namespace. When the entire Clojure file is provided, that should be done quite qui

[2021-05-24 05:13] weavejester commented on #226
Thanks for your work isolating this. Rather than add it as metadata, it would be better to pass it as an argument, or change the `alias-map` argument to a more generic state map with keys for both aliases and the current namespace.

It's also worth memoizing the function and seeing what the performance gain is before we delve any further, in order to ensure that it's the culprit.

[2021-05-24 10:52] LuisThiamNye commented on #226
I can confirm that memoizing `find-namespace` does have a similar performance improvement.

This is what I have been using for testing:

[code]

Using `find-namespace` as normal:

[code]

Using a memoized `find-namespace`:

[code]

Calculating the ns-name upfront and passing through:

[code]

I like the idea of swapping out the `alias-map` with a more generic map that provides additional context a

[2021-05-24 11:31] LuisThiamNye commented on #226
Here is a draft of how I imagine the fix: https://github.com/weavejester/cljfmt/compare/master...LuisThiamNye:luistn/fix-perf-find-namespace

[2021-05-24 14:43] ericdallo commented on #226
Thank you very much for the investigation @LuisThiamNye! @lread may be interested here

[2021-05-24 15:04] lread commented on #226
Very cool! Nice sleuthing @LuisThiamNye!

[2021-05-24 15:41] weavejester commented on #226
That looks fine, though I don't think we need to make the namespace finder function part of the public API.

[2021-05-24 16:21] LuisThiamNye commented on #226
I've refactored the `indent` function some more, moving the call to `find-namespace` outside of the anonymous function and also removing that additional finder function.

[2021-05-25 23:43] lread commented on #232
A revisit of the tests warnings:

[code]
Can be silenced by removing the ns alias on the requires.  We still need the namespace loaded but have no need for an alias.

[code]
We'd silence this one, at least initially, by adding a clj-kondo linter config `{linters {:unresolved-symbol {:exclude [reformats-to?]}}}`

[code]
These two would go away if we renamed the .cljc to a .clj file (there is no nee

[2021-05-26 00:08] weavejester commented on #232
I think clj-kondo is certainly useful, and I'd like to address the issues it's brought up, particularly around unused functions or imports. But in terms of adding it to the build process, I'm leery on whether it's more trouble than it's worth. Is it worth addressing every false positive, or is it better to manually run it once a year to "spring clean" the codebase?

[2021-05-26 00:27] lread commented on #232
Definitely a personal preference.
As you might have guessed, I am sold on clj-kondo. I have it active in my editor, include a config in all my projects and fail my builds on any warnings.  I don't spend a lot of time fiddling with my clj-kondo configs.

Different things are important to different people.
I know from experience that commit messages and the quality of contributed code are important

[2021-05-26 00:31] weavejester commented on #232
That should be fine. What would be configured?

[2021-05-26 00:54] lread commented on #232
You can think of it as an experiment that you can turf if it becomes annoying.

To be revisited on PR but here's the `cljfmt/cljfmt/.clj-kondo/config.edn` I am using while working on cljfmt in dev now:

[code]

The `^:replace` says ignore any user default clj-kondo configs.
`rewrite-clj\rewrite-clj` is an export config from rewrite-clj to educate clj-kondo about linting its thread macros.  Its exp

[2021-05-27 18:39] lread commented on #36
Thanks @PEZ, I'll paste it here for easy referencing:

[2021-05-27 18:41] lread commented on #36
As a reference, an example project that seems to have wholly embraced tabular alignment is [re-com](https://github.com/day8/re-com).

[2021-05-29 18:15] timvisher commented on #36
I like the newline separation of groups but I don't particularly like the ungrouping between lines of differing numbers of elements. I think if the elements are all in a contiguous series of lines it makes more sense to treat them all as a group. It's interesting in this particular example you've got going that it suggests to me at least that the data structure is wrong. I can't understand why we'

[2021-05-29 18:54] lread commented on #36
@timvisher, thanks for the observation. The newlines separation of groups seems uncontroversial to me as well.
I agree that any other group separation rules will have to be carefully considered.

For your vector of vector example, is the only differences the placement of `[` and `]`?
Remembering that we are still in early stages, but: I have no current plans to have tabular alignment move `[` and

[2021-06-15 22:03] ericdallo commented on #226
I think I missed the merge 😅, is this available in latest release already @weavejester ?

[2021-06-17 18:55] weavejester commented on #226
Just release 0.8.0.

[2021-06-17 19:46] ericdallo commented on #226
Thanks! I'll bump clojure-lsp

[2021-06-17 20:34] ericdallo commented on #226
I noticed the performance improvements!
rangeFormatting on a buffer with large forms went from 10s -> 400ms 🎉
I'll keep testing this week and will release a new clojure-lsp version with this change, thanks

[2021-06-21 14:40] ericdallo commented on #226
it works great! thanks for both help!

[2021-06-21 14:40] #226 closed

[2021-06-23 08:39] codeasone opened #236 "Macro cljfmt.core/read-resource does not exist error when building native-image"
When building native image via `lein do clean, native-image` for the latest `0.8.0` release, I'm hitting the following issue:

[code]

Full output: https://gist.github.com/codeasone/e258af1f2160d0120dbc66bc8c870949

So there is a problem with the `cljs` build triggered via the `leiningen.cljsbuild` hook.

__Work-around:__ just comment out the following line in the `project.clj`

[code]

And re-run

[2021-07-15 02:42] coyotesqrl opened #237 "Incomplete/corrupt Clojars download for rewrite-clj makes lein unrunnable"
I am still not sure this isn't just my issue, but I have poked at it a good deal today and last week with the same result.

I've added the lein plugin to my `project.clj` and when I try to run `lein cljfmt check` or `lein cljfmt fix`, I get a compilation error - `clojure.lang.Compiler$CompilerException: Syntax error compiling at (cljfmt/core.cljc:75:3).`

with an underlying cause of: `Caused by: j

[2021-07-15 03:33] weavejester commented on #237
I cleared my Maven cache, created a new project, added `[lein-cljfmt "0.8.0"]` as a plugin, and it works fine.

I don't think rewrite-clj is corrupt or incomplete. I think you're running into a dependency issue where an older version of rewrite-clj is in your dependency tree, and that version doesn't have `z/insert-space-right`.

[2021-07-15 03:39] coyotesqrl commented on #237
I was afraid it might end up being something on my end that I'd been unable to find as of yet. I'll keep digging.

[2021-07-15 03:59] coyotesqrl commented on #237
I have no idea where the dependency is getting pulled it, but based on your comment, I pulled out the plugin and added it with an alias to run under my user profile. Then I specifically added the right version of rewrite-clj as a dependency in that profile as well.

Good enough for now.

Thanks for your help.

[2021-07-15 03:59] #237 closed

[2021-08-02 04:56] finalfantasia opened #238 "Unexpected indentation for `condp` (and friends)"
Given the following forms:
[code]
cljfmt 0.8.0 gives me the following check report:
[code]
which is unexpected.

According to [the default indentation rule for `condp`](https://github.com/weavejester/cljfmt/blob/master/cljfmt/resources/cljfmt/indents/clojure.clj#L11) and the following similar example in README.md:

[code]

In form A, `:expr` should have been considered **incorrectly** indented and

[2021-08-02 05:13] weavejester commented on #238
The default indentation for `condp` is `[[:block 2]]`. The behavior you're seeing is correct for this rule.

To explain further, this rule means that the first two arguments have normal indentation, and all subsequent arguments are indented by a fixed 2 spaces.

[2021-08-02 05:35] finalfantasia commented on #238
Ah, I see. I don’t think I fully understood the way `block` rules work.

Unless I’m missing something, I don’t see it mentioned anywhere in README.md what rules apply to the “specially” treated form arguments (in the case of `condp`, the first two, especially the indentation behavior for the 2nd form argument) when the threshold is not broken. Would it be helpful to clarify that by including an ex

[2021-08-02 17:43] #238 closed

[2021-08-14 08:40] p-himik commented on #36
I've been asked to share my 2c here, so here we go.

In my, admittedly not so humble, opinion, this particular issue #36 is a perfect example of feature creep. It's been created more than 6 years ago. And yet, the discussion about what to include is still ongoing. Now there's even some confusion about the naming - simply because the old "associative syntax alignment" name cannot represent all the

[2021-08-14 10:40] PEZ commented on #36
Good points, @p-himik. Some context about #77:

1. It is what Calva uses to implement the **Format and Align** command (and that not-recommended setting to enable it always).
2. It is quite bug ridden.
3. I have tried to merge it onto `master`, but failed. That doesn't mean it is hard, just that I failed in the time I spent on it (a bit too much time, given that I didn't even get to reap the fruit

[2021-08-14 11:29] lread commented on #36
Thanks for chiming in @p-himik!  I think you make some good points.

One important thing to remember is that this is open source work where contributors are all volunteers with varying amounts of free time, interest and patience.  So while it might seem that some team is taking 6 years to deliver a feature, there really has been no focused team working on this. From time to time some person has pi

[2021-08-31 06:28] vemv opened #240 "Option to enforce newline before argument vector"
Hi,

cljstyle features an enforcement of a newline before a defn's argument vector:

[code]

While I don't necessarily agree with it, it seems a good idea to offer it for teams that value the practice.

PR welcome? Not sure if there's been a previous consideration.

[2021-08-31 09:10] weavejester commented on #240
As long as it's optional and not the default, I'd welcome a PR.

[2021-09-02 09:42] marksto commented on #237
@coyotesqrl, could you, please, share the profile you combined (or at least the "right version of rewrite-clj" dependency)?
I'm running into the same issue right now.

[2021-09-02 14:51] marksto commented on #237
Ok, I guess it's `lein-kibit` that pulls that conflicting old version of the `rewrite-clj`.

[2021-09-06 08:24] holyjak opened #241 "Docstring/comment after defn name changes indentation of the body"
Hello! I have a mystery. With :indents ^:replace {#"^\w" [[:inner 0]]} this is aligned as I want:

          (defn X
            ([args]
             (doit)))

but if I put any line (normally I would have there a docstring) after the X, it changes and the body of the fn is indented by 1 space too many:

          (defn X
            ;; comment
            ([args]
              (doit)))

[2021-09-09 12:07] pedro-w commented on #237
I am also having this problem; @marksto @coyotesqrl  please could you explain the fix? I didn't know that the deps would be resolved in such a way that different plugins couldn't have different versions of their dependencies.
Thanks!

[2021-09-16 14:44] vemv opened #242 "Comment after delimiters"
Hi,

here is an Emacs->cljfmt difference:

[code]

which is unfortunate because so often cljfmt matches Emacs. I wonder if this is a known issue, and what would be its preferred resolution. Can contribute a fix/option as I find the time.

Thanks - V

[2021-09-17 19:38] colinphill-reify commented on #45
Popping in to say I've also encountered this. It seems that it's less to do with nesting forms and more to do with the placement of the first value in a threading form, so that cljfmt will issue suggestions like this even when there is only one threading form:

[code]

When the threaded value is given its own line, cljfmt wants it indented by one space – but wants subsequent forms indented by two.

[2021-10-09 13:36] weavejester commented on #242
A fix for this would be welcome. cljfmt shouldn't remove the whitespace in this instance.

[2021-10-25 13:10] BrunoBonacci opened #244 "indent matching support for string regex"
Hi,

in the documentation it is stated that symbols can be matched via reg-ex patterns like:

[code]

`cljfmt` is embedded in many other tools. For example `clojure-lsp` embeds `cljfmt` for source code formatting. (see https://clojure-lsp.io/settings/)

The configuration for `cljfmt` is often provided as EDN file, however [EDN doesn't support regular expressions](https://github.com/edn-format/edn/

[2021-12-15 18:27] Chouser commented on #237
I had an ancient version of `lein-ancient` (go figure) in my `/.lein/profiles.clj` that was causing me this problem.

I learned that by running `lein deps :plugin-tree`. So I commented out `lein-ancient` in my lein profiles.clj, ran that again, and could see the version desired by `[lein-cljfmt "0.8.0"]` is `[rewrite-clj "1.0.605-alpha"]`

For now, I'm just leaving lein-anceint commented-out and c

[2022-02-02 19:00] MicahElliott opened #245 "keyword in destructuring forced to be smashed against bracket"
This is what cljfmt wants:

[code]

But obviously a space is wanted before the `:as`.

This is an important problem because it's common that a map key (eg, `bb`) is no longer used but should still be listed since a future developer want to see that `bb` is/was indeed a usable piece of the inputs.

[2022-02-02 21:59] MicahElliott commented on #207
Hi @lread! Do you think the right approach to this would be adding a `formfeed?` predicate function to `rewrite-clj.reader`? Then cljfmt would be able to be tweaked to treat it specially as non-whitespace?

[2022-02-02 22:09] lread commented on #207
Hi @MicahElliott, it might go deeper than that.
The rewrite-clj reader uses [clojure.tools.reader](https://github.com/clojure/tools.reader).
We'd have to also study how this reader interprets formfeed and possibly tweak its behavior.

And... probably best to check with @weavejester before spending any more time on this.
If he's not into supporting cljfmt passing through formfeeds (which I think wo

[2022-02-02 22:15] MicahElliott commented on #207
Yeah, ok, makes sense. It is an odd case of "kinda whitespace sometimes". There are cool things that unix tools/editors have been able to do with FFs, but this case is not all that important anyway. Thanks for the consideration though! And for all the nice work on this tooling!

[2022-02-02 22:15] #207 closed

[2022-02-02 22:16] lread commented on #207
@MicahElliott if you find enough people that are into this feature and @weavejester doesn't object to it, then it might still be a possibility.

[2022-02-03 00:18] weavejester commented on #245
Can you provide the "before" code as well?

[2022-02-03 01:29] weavejester commented on #207
I don't mind as long as someone else does the work and it doesn't affect anything else.

[2022-03-02 00:07] mainej opened #247 "reformat-form throws when a local variable is named "ns""
Trying to call `reformat-form` when a local variable is named `ns` throws an Exception

[code]

<details>
  <summary>
    Exception
  </summary>
<pre><code>
                                         cljfmt.core/reformat-form                          core.cljc:  416
                                              cljfmt.core/reindent                          core.cljc:  379

[2022-03-08 14:26] introom opened #248 "Thread macro is not honored"
Give the following code:
[code]

It should be formatted as:
[code]
Which also happens to be what emacs clojure mode does.

However, cljfmt thinks the code is already formatted.

Steps to reproduce:
 clojure -Sdeps '{:deps {cljfmt {:mvn/version "0.8.0"}}}'  -m cljfmt.main check example.clj

[2022-03-08 15:02] weavejester commented on #248
Why should it be formatted that way? Can you give some justification?

[2022-03-08 15:11] introom commented on #248
It's like macro body forms two spaces indented.

foo here belongs to the body part.

https://github.com/bbatsov/clojure-style-guide#body-indentation

[2022-03-08 15:12] introom commented on #248
Similar to the fashion foo is indented here:
[code]

[2022-03-08 15:40] introom commented on #248
The issue is not about the format of -> but rather the inconsistency on how cljfmt handles as->.

Cljfmt requires that the body form to be two space indents, for example,
[code]

The problem is, when the as-> is inside thread->, an implicit argument is placed; however, cljfmt seems to ignore it and formats it similar to the above case (2).
[code]

[2022-03-08 15:55] weavejester commented on #248
Ah, yes, that's a known missing feature. Currently cljfmt is not aware of the threading macros when handling block indentation.

[2022-03-09 16:05] introom opened #249 "[[:block]] misbehavior"
Given
[code]
and
[code]
cljfmt formats it to
[code]
instead of
[code]

[2022-03-09 16:27] weavejester commented on #249
That's the intended behaviour for `[:block 1]`. You want `[:block 0]` if you want it to indent with zero arguments. See the README for more details.

[2022-03-10 01:42] introom commented on #249
Based on this doc: https://github.com/weavejester/cljfmt#block-rules
[code]

Given
[code]
Line-arg-count-threshold is 1 here.

The argument count on the foo line is 0. Since 0 < 1, so two space inner indentation shall be applied.
The desired output should have been:
[code]

Instead of
[code]

[2022-03-10 01:53] weavejester commented on #249
Ah, the updates to the README have resulted in the wrong documentation. Let me fix that.

[2022-03-10 04:49] lread commented on #249
Sheesh, who made those updates anyway, eh? 🙂
It was my best stab at the time James, lemme know if you need help with a doc fix.

[2022-03-10 17:11] weavejester commented on #249
The documentation you were working from was flawed, so it was ultimately my fault :)

[2022-03-10 17:12] weavejester commented on #249
README has now been fixed.

[2022-03-10 17:12] #249 closed

[2022-03-21 23:29] MicahElliott commented on #207
A workaround to enable both page-break-lines to display these nicely, and let an editor (eg, Emacs' `forward-page`) jump around the page-breaks, is to put a trailing semicolon after the page-break:
[code]

![image](https://user-images.githubusercontent.com/159047/159379421-65009497-e3e3-4867-9999-de54879623da.png)

[2022-05-01 16:43] #247 closed

[2022-05-02 14:44] or opened #254 "Improve performance"
As most users, I use linters and formatters mainly in my editor, but also to check or fix a larger code base at the command line or in workflows.
For both of those usages performance is a factor, so I've been trying to reduce `cljfmt` start-up and run time.

- I've experimented with using `pmap` to process multiple files for `fix`, and that sped up fixing a largeish directory by a factor of 2-3, s

[2022-05-02 14:56] or opened #255 "Feature request: a mode to read from stdin"
For editor integration it would be useful to have a mode that reads from stdin, formats, and writes to stdout.

I think a separate command, say `pipe`, would be ideal. E.g. `cljfmt pipe < foo.clj`

Alternatively this could be accomplished by accepting `-` as an input to `fix` or `check`, but that might not play well with having multiple path arguments. The advantage would be that it can check stdi

[2022-05-02 15:07] or opened #256 "Feature request: a configuration file"
Having the aliases, indents, and formatting options passed as CLI arguments is not ideal for editor integration and using `cljfmt` in multiple projects.

It'd be awesome if `cljfmt` could read all options from a single file, which can be specified. By default it could look for `.cljfmt.edn` (or similar) in the current directory and each directory up to HOME.
It should use the first file it finds,

[2022-05-02 15:22] weavejester commented on #254
Sure, I'll accept any well written PR that improves performance.

[2022-05-08 23:39] weavejester commented on #255
Let's use `-`, as it's the usual convention.

[2022-05-09 08:03] or commented on #255
I've written a draft of that, but it cuts quite deeply into the way path arguments are processed. Also, the reporting for `fix` with multiple arguments must not write to stdout if there's an stdin argument, because that's where the fixed stdin data will go. Errors still need to be written to stderr. Both of these are done with `print-file-status`, which muddies the water a bit.

Before I go too de

[2022-05-09 13:59] weavejester commented on #255
I think it's fine to raise an error saying that STDIN and files cannot be processed at the same time.

[2022-05-09 19:37] or opened #262 "Build error with ClojureScript 1.10.866, works with 1.11.4"
On the current master: `lein clean; lein uberjar` results in this error:
[code]

I can't figure out what the problem is. Do you (or anyone else) see this?
If I upgrade the ClojureScript dependency to 1.11.4, then all works as expected. My Google fu wasn't enough to find any similar issues.

While working on my other PRs I just kept local commits that upgrade Clojure and ClojureScript dependencies.

[2022-05-09 19:56] or commented on #173
I can reproduce this until version 0.6.2, but https://github.com/weavejester/cljfmt/pull/157, fixed it. I think this issue can be closed.

[2022-05-09 21:32] #173 closed

[2022-05-10 05:23] or commented on #39
This was added in https://github.com/weavejester/cljfmt/pull/203, the option is called "remove-multiple-non-indenting-spaces".

[2022-05-10 06:26] or commented on #67
Is this still an issue? I can't reproduce it, for me commas remain untouched. But I also couldn't reproduce it with older versions (tried 0.4.1, 0.5.0, which were current at the time), maybe I'm missing something.

[2022-05-10 06:34] or commented on #87
I think this was sufficiently addressed by https://github.com/weavejester/cljfmt/pull/183.

[2022-05-10 06:50] or commented on #90
This appears to be fixed. I couldn't find out when exactly, but I can't reproduce this with versions 0.6.0+.

[2022-05-10 06:52] or commented on #91
This probably is resolved.

[2022-05-10 06:57] or commented on #94
This seems quite intrusive, and it's not obvious to me when `fooBar` would become `FooBar` and when `foo-bar`.

@weavejester: can you weigh in on whether this might be in scope at all?

[2022-05-10 07:04] or commented on #107
This appears to be fixed. I can't reproduce it with 0.6.0+.

[2022-05-10 07:17] or commented on #168
What's left to do here? Just an entry of `let* [[:block 1]]` in `indents/clojure.clj`?

[2022-05-10 07:56] or commented on #262
https://github.com/weavejester/cljfmt/issues/236 might have the same root cause, the errors are not identical but similar.

[2022-05-10 07:58] or commented on #240
Duplicate of #105.

[2022-05-10 08:11] or commented on #241
I haven't tried it with the Leiningen plugin, but I can't reproduce it with tests:
[code]
Both of those pass. Strange.

@holyjak: is this still an issue for you?

[2022-05-10 08:13] vemv commented on #240
I'll close this one.

Additional note, zprint tends to be particularly good at this sort of thing. I keep using cljfmt as a first pass in most projects.

[2022-05-10 08:13] #240 closed

[2022-05-10 08:16] or commented on #240
Cool, I think I'll have a look at adding this sometime soon, it definitely makes sense as an option.

I'm just grooming the issues a bit. :) Maybe react on the other issue, if you want to be kept in the loop.

[2022-05-10 08:22] or commented on #245
I can reproduce this:
[code]
formats to:
[code]

[2022-05-10 08:24] or commented on #248
Duplicate of https://github.com/weavejester/cljfmt/issues/223.

[2022-05-10 13:09] #91 closed

[2022-05-10 13:10] #87 closed

[2022-05-10 13:12] #107 closed

[2022-05-12 22:23] weavejester commented on #94
I think this is within scope, though it may be difficult to achieve, as it would require knowing whether a symbol is within the project being checked, and know what bindings are local and which are global. It's possible though, and seems useful.

[2022-06-20 18:38] diegovdc opened #265 "Remove trailing whitespace not working as expected"
It is neither removing whitespace at the end of a file, not removing commas (for example in maps).

Steps to reproduce

This `example.clj`:
[code]

Becomes:
[code]
When using `clojure -Sdeps '{:deps {cljfmt {:mvn/version "0.8.0"}}}'  -m cljfmt.main fix example.clj`.

But I would expect:

[code]

[2022-06-23 22:37] sirmspencer opened #266 "Feature request: indent rule for all unspecified functions"
Allow an indent rule to be created for all functions / macros that are not defined [here](https://github.com/weavejester/cljfmt/blob/master/cljfmt/resources/cljfmt/indents/clojure.clj) or in the :indents map.

Half of our team is using Cursive, which favors this form for multi line function calls. Note the two space indent.
[code]
The indent rule to replace all doesnt work ~~for two reasons. 1) re

[2022-06-24 08:00] or commented on #256
Thanks, that's good to know. Unfortunately that won't help me, because I use the cljfmt binary for formatting, which also can check/fix whole directories.

I think it would be better if cljfmt read its own configuration file, then LSP probably wouldn't have to implement it.

[2022-06-24 13:45] weavejester commented on #256
I'd be open to a PR that would look for a configuration file in the current directory. I'm less sure about looking in HOME or checking parent directories.

[2022-06-24 14:22] or commented on #256
Using the command line tool for linting in Emacs will run it in the file's directory, not the project root, so it needs to find the configuration.

And having a global default in one place (HOME) is incredibly useful as well. It would be painful to have to copy (and maintain) files in various project directories.

[2022-06-24 16:55] sirmspencer commented on #256
Would this extend to the lein-cljfmt plugin, or would that need to be a seperate change on that side?

[2022-06-24 17:40] weavejester commented on #256
No, because Leiningen already has per-project and per-user configurations.

[2022-06-25 21:54] sheluchin opened #267 "Indentation applied inconsistently depending on presence of ns form"
I initially filed an [issue](https://github.com/liquidz/vim-iced/issues/418#issuecomment-1165994792) in the vim-iced repo, but it looks like it's an issue with cljfmt. Copying the repro posted by @liquidz:

[code]

[2022-06-25 22:28] weavejester commented on #267
This issue is a little hard to read. Can you put in your expected and actual values?

[2022-06-26 14:54] sheluchin commented on #267
@weavejester Sorry about that! I've edited it to make it a little easier on the eyes.

[2022-06-28 01:40] leafgarland commented on #266
Thanks for explaining why my attempt at this with a regex doesn't work (it's in a config.edn file).

I would also like to set a default for all unspecified fns.

[2022-06-28 02:27] leafgarland commented on #67
@or one example I have that removes the comma is

[code]

[2022-06-29 18:03] hxegon opened #268 "Configurable namespace sorting"
I'd like to sort the namespaces in a non-alphabetical way: clojure core libraries first, followed by external namespaces, and then internal namespaces. Feels like it'd be simple to add on top of #251, after that's merged I can take a crack at it.

Thinking it could be configured by either:
- user supplied fn arg to `sort-by` passed to `sort-ns-references` (not sure how a user supplied fn would wor

[2022-07-05 17:12] mainej opened #269 "Requesting release"
Would you consider doing a release of cljfmt? I was just bitten again by a bug that's been fixed but hasn't been released yet.

[2022-07-07 14:35] #262 closed

[2022-07-07 14:36] #269 closed

[2022-07-07 20:20] BrianChevalier opened #270 "NewlineNormalizingReader cannot be converted to IPushbackReader"
I'm receiving the following error on the recently deployed cljfmt (0.8.1) which was not present when using 0.8.0.

We run `clojure -M:cljfmt` where `:cljfmt` has the following `:main-opts`
[code]

Error received (its reporting this for each file checked, I believe)
[code]

[2022-07-07 21:32] weavejester commented on #270
Looks like there are some significant breakages with 0.8.1. I'm looking into it.

[2022-07-07 21:45] weavejester commented on #269
Actually, don't use 0.8.1 yet. There were problems with the release.

[2022-07-07 22:04] coyotesqrl commented on #270
I'm getting something that seems vaguely related - it's also triggering an exception out of `reader_types` - when running on OpenJDK 18.0.1 on an M1 Mac.

[code]

[2022-07-07 22:07] #270 closed

[2022-07-07 22:13] weavejester commented on #270
I've released 0.8.2. This should solve the problem, @BrianChevalier and @coyotesqrl. It looks like the cause of the problem was commit 8a22ab2ecd32340cc263cd4be13cf8f7a65989c9.

[2022-07-07 22:13] weavejester commented on #269
Released 0.8.2. This should solve the problems.

[2022-07-22 19:34] rfhayashi commented on #267
I found that to happen if the namespace name starts with the string `def`. For example:

[code]

prints

[code]

[2022-07-25 01:39] #13 closed

[2022-07-31 03:54] #121 closed

[2022-07-31 19:42] expez commented on #13
Hi, I see this was closed in a commit that mentions ns sorting.  Has the formatting / pretty-printing (proper indentation, breaking of long lines in sensible places etc) been solved previously?

Many thanks for your tireless and consistent maintenance of you open source projects @weavejester 🙇

[2022-08-26 15:42] grzm opened #272 "Could we have a new release for native-image fix and latest indents?"
We're currently using cljfmt native-image locally, which we build by pulling master as it includes the native-image build fix (19e0861d109ba3e89b8ebedbb45fdf564b7fd659). However, in CI where we run a cljfmt check, we don't build the native image (or have it pre-compiled) cljfmt so we rely on the jar. Currently the jar (0.8.2) does not have all of the default indents that are in HEAD (namely b0f7f8

[2022-08-26 22:15] weavejester commented on #272
Done. Apologies for the delay.

[2022-08-26 22:15] #272 closed

[2022-08-27 00:45] grzm commented on #272
No apologies necessary. Thanks for the quick turnaround! You rock! :) 🎸

[2022-10-25 19:00] pdelfino opened #275 "Is it possible to tweak `:remove-consecutive-blank-lines?` so that it accepts 3 or 2 blank lines instead of only 2?"
Hi,

Congrats on the awesome work! I am planning to use this plug-in on the project that I am working on at my job.

Currently, the documentation says that:

Unfortunately, one of the developers like to use 3 blank lines to express a particular meaning.

Would it be possible to tweak the tool so that it accepts 2 or 3 blank lines instead of only 2?

Thank you!

[2022-10-25 22:17] weavejester commented on #275
Possibly... I'm open to it being an option, but since this is the first time I've been asked about this to my recollection, this may be too niche a feature. Have you considered managing this with a separate regular expression? e.g. `(str/replace s #"\n{4,}" "\n\n\n")`.

[2022-11-15 08:56] mpenet opened #276 "new option: auto expand aliased namespaced keywords"
Hi

I wanted to gauge if there's interest for a task that transforms all `::foo` type keywords into their fully expanded form `:current.namespace/foo`?

[2022-11-28 15:29] jetmind opened #278 "Options aren't working when running cljfmt.main"
The [code](https://github.com/weavejester/cljfmt/blob/master/cljfmt/src/cljfmt/main.clj#L202) suggests some options could be used with cljfmt.main but it doesn't seem to work, e.g.

[code]

Am I missing something?

[2022-11-29 02:39] weavejester commented on #278
I don't get that output when running that line of code. For me, it runs correctly, even on a clean machine. What shell are you using? Could there be something in your dependency cache that's messing things up somehow?

[2022-11-29 05:33] jetmind commented on #278
I didn't realize I had dependency on old version of tools.cli in project I ran command from.  Everything works as expected now, thank you

[2022-11-29 05:33] #278 closed